Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

check-file-length:
  name: Check for oversized files (500 line limit)
  entry: ./scripts/check-file-length.sh
  language: system

kube-linter:
  name: Kubernetes Linter (kube-linter)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

kubeconform:
  name: Kubernetes Validator (kubeconform)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

feat(logging): add Alibaba Cloud SLS log collection for ACK cluster
  .pipeline/k8s/base/logging/backend-log-config.yaml
  .pipeline/k8s/base/logging/frontend-log-config.yaml
  .pipeline/k8s/base/logging/kustomization.yaml
  docs/deployment/sls-logging.md
  docs/troubleshooting/sls-logging-issues.md
Due: kube-linter, kubeconform

docs: update version references and add SLS logging links
  docs/README.md
  docs/deployment/ack-architecture.md
  docs/troubleshooting/README.md
Due: none

docs: update version matrix and changelogs for v0.8.4/v0.11.1
  docs/README.md
  docs/project/versions/VERSION_MATRIX.md
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/frontend/CHANGELOG.md
  docs/troubleshooting/deployment-issues.md
Due: none

feat(portfolio): add failed order persistence and transactions API
  backend/src/agent/order_optimizer.py
  backend/src/api/portfolio.py
  backend/src/database/repositories/portfolio_order_repository.py
  backend/src/models/portfolio.py
  backend/src/models/trading_decision.py
  frontend/public/locales/en/portfolio.json
  frontend/public/locales/zh-CN/portfolio.json
  frontend/src/components/portfolio/RecentTransactions.tsx
Due: check-file-length

feat(agent): add structured output extraction and agent improvements
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/portfolio_analysis_agent.py
  backend/src/api/chat.py
  backend/src/api/schemas/chat_models.py
  backend/src/database/repositories/message_repository.py
Due: check-file-length

feat(k8s): migrate portfolio CronJob to HTTP trigger pattern
  .pipeline/k8s/base/cronjobs/portfolio-analysis-trigger.yaml
  .pipeline/k8s/base/cronjobs/portfolio-analysis.yaml
  .pipeline/k8s/overlays/prod/cronjob-portfolio-trigger-patch.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  docs/features/portfolio-analysis-cronjob-http.md
Due: kube-linter, kubeconform

feat(k8s): add Langfuse production configuration for ACK
  .pipeline/k8s/base/langfuse/clickhouse-service.yaml
  .pipeline/k8s/base/langfuse/postgres-service.yaml
  .pipeline/k8s/base/langfuse/postgres-statefulset.yaml
  .pipeline/k8s/base/langfuse/server-deployment.yaml
  .pipeline/k8s/base/langfuse/worker-deployment.yaml
  .pipeline/k8s/overlays/prod/langfuse-clickhouse-prod-patch.yaml
  .pipeline/k8s/overlays/prod/langfuse-ingress-prod-patch.yaml
  .pipeline/k8s/overlays/prod/langfuse-server-prod-patch.yaml
  .pipeline/k8s/overlays/prod/langfuse-worker-prod-patch.yaml
Due: kube-linter, kubeconform

feat(ui): enhance portfolio dashboard and cron controller
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/components/portfolio/CronController.tsx
  frontend/src/pages/PortfolioDashboard.tsx
  frontend/src/services/api.ts
  frontend/src/types/api.ts
Due: check-file-length

chore: update configs, docs, and bump backend version to v0.8.4
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  CLAUDE.md
  backend/pyproject.toml
  backend/src/services/alpaca_trading_service.py
  docs/deployment/secrets-architecture.md
  docs/troubleshooting/symbol-injection-race-condition.md
Due: check-file-length, kube-linter, kubeconform

docs(langfuse): update documentation for production ACK deployment
  CLAUDE.md
  docs/deployment/workflow.md
  docs/features/langfuse-observability.md
Due: none

feat(portfolio): add short position handling and 3-phase architecture
  backend/pyproject.toml
  backend/src/agent/order_optimizer.py
  backend/src/agent/portfolio_analysis_agent.py
  backend/src/api/portfolio.py
  backend/src/core/config.py
  backend/src/models/trading_decision.py
  backend/src/services/context_window_manager.py
  docs/features/portfolio-agent-architecture-refactor.md
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length

fix(startup): prevent UnboundLocalError in lifespan finally block
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/src/main.py
Due: check-file-length, kube-linter, kubeconform

feat(ui): add ICP registration footer for China compliance
  frontend/src/App.tsx
Due: check-file-length

feat(compaction): add summary persistence and old message cleanup
  backend/src/database/repositories/message_repository.py
  backend/src/models/message.py
Due: check-file-length

feat(portfolio): add analysis type filtering and dev mode symbol filter
  backend/src/agent/order_optimizer.py
  backend/src/agent/portfolio_analysis_agent.py
  backend/src/api/portfolio.py
  backend/src/core/config.py
  backend/src/services/watchlist_analyzer.py
Due: check-file-length

chore(backend): cleanup tests and bump version to v0.8.6
  backend/pyproject.toml
  backend/scripts/cleanup_user_portfolio_chats.py
  backend/scripts/create_feedback_bucket.py
  backend/scripts/create_message_timestamp_index.py
  backend/scripts/create_portfolio_agent_user.py
  backend/scripts/init_portfolio_agent.py
  backend/scripts/migrate_analysis_chats.py
  backend/scripts/verify_migration.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/core/data/ticker_data_service.py
  backend/tests/test_alphavantage_market_data_service.py
  backend/tests/test_alphavantage_response_formatter.py
  backend/tests/test_auth_service.py
  backend/tests/test_cache_utils.py
  backend/tests/test_chat_repository.py
  backend/tests/test_chat_symbol_context.py
  backend/tests/test_date_utils.py
  backend/tests/test_exceptions.py
  backend/tests/test_feedback_images.py
  backend/tests/test_fibonacci_config.py
  backend/tests/test_fibonacci_level_calculator.py
  backend/tests/test_financial_analysis.py
  backend/tests/test_holding_repository.py
  backend/tests/test_localization.py
  backend/tests/test_macro_analyzer.py
  backend/tests/test_model_config.py
  backend/tests/test_oss_service.py
  backend/tests/test_password_service.py
  backend/tests/test_portfolio_order_repository.py
  backend/tests/test_symbol_search.py
  backend/tests/test_token_service.py
  backend/tests/test_token_utils.py
  backend/tests/test_user_repository.py
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length

feat(ui): add portfolio analysis history sort and filter controls
  frontend/public/locales/en/portfolio.json
  frontend/public/locales/zh-CN/portfolio.json
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/portfolio/AnalysisTypeFilter.tsx
  frontend/src/hooks/usePortfolioChats.ts
  frontend/src/pages/PortfolioDashboard.tsx
Due: check-file-length

chore(k8s): update prod image versions to backend v0.8.6, frontend v0.11.4
  .pipeline/k8s/overlays/prod/kustomization.yaml
Due: kube-linter, kubeconform

feat(agent): add get_stock_quote tool with market status API support
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/pyproject.toml
  backend/src/agent/tools/alpha_vantage_tools.py
  backend/src/services/alphavantage_market_data.py
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length, kube-linter, kubeconform

chore(k8s): use Recreate strategy for backend deployment
  .pipeline/k8s/base/backend/deployment.yaml
  docs/deployment/ack-architecture.md
  docs/deployment/workflow.md
Due: kube-linter, kubeconform

refactor(api): restructure API layer into modular packages
  backend/src/api/analysis/__init__.py
  backend/src/api/analysis/fibonacci.py
  backend/src/api/analysis/fundamentals/__init__.py
  backend/src/api/analysis/fundamentals/company.py
  backend/src/api/analysis/fundamentals/financials.py
  backend/src/api/analysis/history.py
  backend/src/api/analysis/macro.py
  backend/src/api/analysis/news.py
  backend/src/api/analysis/shared.py
  backend/src/api/analysis/technical.py
  backend/src/api/chat/__init__.py
  backend/src/api/chat/endpoints.py
  backend/src/api/chat/helpers.py
  backend/src/api/chat/streaming/__init__.py
  backend/src/api/chat/streaming/handlers.py
  backend/src/api/chat/streaming/helpers.py
  backend/src/api/chat/streaming/react_agent.py
  backend/src/api/chat/streaming/simple_agent.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/api/feedback/__init__.py
  backend/src/api/feedback/admin.py
  backend/src/api/feedback/comments.py
  backend/src/api/feedback/crud.py
  backend/src/api/feedback/upload.py
  backend/src/api/market/__init__.py
  backend/src/api/market/fundamentals.py
  backend/src/api/market/prices.py
  backend/src/api/market/search.py
  backend/src/api/market/status.py
  backend/src/api/market_data.py
  backend/src/api/portfolio/__init__.py
  backend/src/api/portfolio/chats.py
  backend/src/api/portfolio/history.py
  backend/src/api/portfolio/holdings.py
  backend/src/api/portfolio/orders.py
  backend/src/api/portfolio/transactions.py
  backend/src/api/watchlist.py
  backend/src/main.py
Due: check-file-length

refactor(agent): modularize agent and tools architecture
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/optimizer/__init__.py
  backend/src/agent/optimizer/base.py
  backend/src/agent/optimizer/executor.py
  backend/src/agent/optimizer/order_helpers.py
  backend/src/agent/optimizer/plan_builder.py
  backend/src/agent/order_optimizer.py
  backend/src/agent/portfolio/__init__.py
  backend/src/agent/portfolio/agent.py
  backend/src/agent/portfolio/phase1_research.py
  backend/src/agent/portfolio/phase2_decisions.py
  backend/src/agent/portfolio/phase3_execution.py
  backend/src/agent/portfolio_analysis_agent.py
  backend/src/agent/tools/alpha_vantage/__init__.py
  backend/src/agent/tools/alpha_vantage/fundamentals.py
  backend/src/agent/tools/alpha_vantage/news.py
  backend/src/agent/tools/alpha_vantage/quotes.py
  backend/src/agent/tools/alpha_vantage/technical.py
  backend/src/agent/tools/alpha_vantage_tools.py
  backend/src/agent/tools/trading_tools.py
Due: check-file-length

refactor(services): modularize service layer components
  backend/src/services/alpaca/__init__.py
  backend/src/services/alpaca/base.py
  backend/src/services/alpaca/helpers.py
  backend/src/services/alpaca/orders.py
  backend/src/services/alpaca/positions.py
  backend/src/services/alpaca/service.py
  backend/src/services/alpaca_trading_service.py
  backend/src/services/alphavantage_market_data.py
  backend/src/services/alphavantage_response_formatter.py
  backend/src/services/formatters/__init__.py
  backend/src/services/formatters/base.py
  backend/src/services/formatters/fundamentals.py
  backend/src/services/formatters/market.py
  backend/src/services/formatters/technical.py
  backend/src/services/watchlist/__init__.py
  backend/src/services/watchlist/analysis.py
  backend/src/services/watchlist/analyzer.py
  backend/src/services/watchlist/chat_manager.py
  backend/src/services/watchlist/context_handler.py
  backend/src/services/watchlist/order_handler.py
  backend/src/services/watchlist_analyzer.py
Due: check-file-length

refactor(shared): add centralized shared utilities module
  backend/src/core/analysis/stock_analyzer.py
  backend/src/core/config.py
  backend/src/core/data/stock_data_fetcher.py
  backend/src/core/utils/__init__.py
  backend/src/core/utils/yfinance_utils.py
  backend/src/shared/__init__.py
  backend/src/shared/formatters.py
  backend/src/shared/sanitizers.py
Due: check-file-length

test: update tests for modularized codebase
  backend/tests/test_financial_calculations.py
  backend/tests/test_stochastic_api.py
  backend/tests/test_ticker_data_service.py
  backend/tests/test_utils_and_config.py
Due: none

chore: bump backend version to v0.8.8 and update k8s config
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/pyproject.toml
  docs/project/versions/backend/CHANGELOG.md
Due: kube-linter, kubeconform

refactor(api): remove deprecated monolithic API files
  backend/src/api/analysis.py
  backend/src/api/chat.py
  backend/src/api/feedback.py
  backend/src/api/portfolio.py
Due: check-file-length

test(e2e): add HarshJudge E2E test scenarios
  .harshJudge/.dashboard-state.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/meta.yaml
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-01-Platform Page with Agent Mode.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-02-Question Sent Successfully.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-03-Tool Invocation Verified.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-03-Tool Invocation Verified.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-04-LLM Response Relevance Verified.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-04-LLM Response Relevance Verified.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-05-Response Quality Verified.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/evidence/step-05-Response Quality Verified.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/MLCYVlAX8o/result.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/scenario.md
  .harshJudge/scenarios/portfolio-agent-analysis-flow/meta.yaml
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-01-Portfolio Dashboard Loaded.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-02-Analysis Triggered Successfully.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-02-Backend Analysis Logs.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-02-Backend Analysis Logs.txt
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-03-Portfolio Decisions - Latest Analysis (2025-12-13 10:07 UTC).meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-04-AAPL Individual Symbol Analysis (2025-12-13 10:06 UTC).meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-05-Phase 3 Order Execution Verification.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/evidence/step-05-Phase 3 Order Execution Verification.txt
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/CviTA5gCC_/result.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/teEY3m5WKu/evidence/step-01-Portfolio Dashboard Loaded.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/teEY3m5WKu/evidence/step-02-Portfolio Dashboard with Analysis Data.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/teEY3m5WKu/evidence/step-03-AAPL Individual Analysis Detail.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/teEY3m5WKu/evidence/step-04-Portfolio Decisions Detail.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/teEY3m5WKu/evidence/step-05-Orders Placed Matching Decisions.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/teEY3m5WKu/result.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/scenario.md
Due: none

feat(agent): improve portfolio analysis robustness and failure handling
  backend/pyproject.toml
  backend/src/agent/portfolio/agent.py
  backend/src/agent/portfolio/phase1_research.py
  backend/src/agent/portfolio/phase2_decisions.py
  backend/src/api/dependencies/portfolio_deps.py
  backend/src/core/config.py
  backend/src/main.py
Due: check-file-length

docs: comprehensive documentation update for v0.8.8
  CLAUDE.md
  docs/README.md
  docs/deployment/workflow.md
  docs/development/getting-started.md
  docs/features/README.md
  docs/features/backend-api-module-restructure.md
  docs/project/versions/VERSION_MATRIX.md
  docs/project/versions/backend/CHANGELOG.md
  docs/troubleshooting/frontend-issues.md
  docs/troubleshooting/streaming-issues.md
Due: none

docs: dedupe CLAUDE.md and clean up stale TODOs
  CLAUDE.md
  docs/features/langgraph-sdk-react-agent.md
Due: none

feat(ci): add GitHub Actions CI/CD workflows
  .github/setup-cicd.sh
  .github/workflows/deploy.yml
  .github/workflows/pr-checks.yml
  CONTRIBUTING.md
  docs/deployment/workflow.md
Due: none

fix(backend): add missing __init__.py files for package imports
  backend/src/agent/tools/__init__.py
  backend/src/core/analysis/__init__.py
  backend/src/core/data/__init__.py
  backend/src/services/__init__.py
Due: none

ci: add debug info and fix AI summary action
  .github/workflows/pr-checks.yml
Due: none

fix(gitignore): add market_data package to git
  .gitignore
  backend/src/services/market_data/__init__.py
  backend/src/services/market_data/bars_basic.py
  backend/src/services/market_data/bars_extended.py
  backend/src/services/market_data/base.py
  backend/src/services/market_data/fundamentals.py
  backend/src/services/market_data/macro.py
  backend/src/services/market_data/quotes.py
  backend/src/services/market_data/technical.py
Due: check-file-length

fix(ci): add yfinance to dev deps for integration tests
  backend/pyproject.toml
Due: none

[WIP] Update GitHub Actions CI/CD workflows based on feedback (#2)
  backend/src/core/analysis/stock_analyzer.py
Due: check-file-length

fix(ci): use vitest-compatible options (remove --watchAll)
  .github/workflows/pr-checks.yml
Due: none

Path conditions:
  check-file-length: any of: \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$
  kube-linter: any of: ^\.pipeline/k8s/.*\.yaml$
  kubeconform: any of: ^\.pipeline/k8s/.*\.yaml$
