Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

check-file-length:
  name: Check for oversized files (500 line limit)
  entry: ./scripts/check-file-length.sh
  language: system

kube-linter:
  name: Kubernetes Linter (kube-linter)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

kubeconform:
  name: Kubernetes Validator (kubeconform)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

feat: Add unified system prompt to v3 (Agent mode) for consistent UX
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.9.md
Due: check-file-length

fix(agent): Correct LangGraph API parameter from state_modifier to prompt
  backend/src/agent/langgraph_react_agent.py
  docs/project/versions/backend/v0.5.9.md
Due: check-file-length

feat(ui): optimize chat interface layout and scroll behavior
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/ChatSidebar.tsx
Due: check-file-length

refactor(frontend): improve code quality and fix performance issues
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatMessages.tsx
Due: check-file-length

docs(deployment): fix K8s deployment workflow to ensure image updates
  .pipeline/k8s/overlays/test/kustomization.yaml
  CLAUDE.md
Due: kube-linter, kubeconform

chore(frontend): bump version to v0.8.12
  frontend/package-lock.json
  frontend/package.json
Due: none

chore(k8s): update frontend image to test-v0.8.12
  .pipeline/k8s/overlays/test/kustomization.yaml
Due: kube-linter, kubeconform

feat(k8s): force Langfuse ClickHouse and worker to userpool2
  .pipeline/k8s/base/langfuse/clickhouse-statefulset.yaml
  .pipeline/k8s/base/langfuse/worker-deployment.yaml
Due: kube-linter, kubeconform

fix(k8s): declare image versions in patch files for persistence
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
  .pipeline/k8s/overlays/test/frontend-test-patch.yaml
Due: kube-linter, kubeconform

refactor(fib): Simplify trend detection config to percentage-based magnitude
  backend/src/core/analysis/fibonacci/__init__.py
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/analysis/fibonacci/config.py
  backend/src/core/analysis/fibonacci/trend_detector.py
  backend/tests/test_fibonacci_trend_detection.py
  backend/tests/test_utils_and_config.py
Due: check-file-length

docs(k8s): add Kubernetes operations best practices to CLAUDE.md
  .pipeline/k8s/base/langfuse/worker-deployment.yaml
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
  CLAUDE.md
Due: kube-linter, kubeconform

test: clean up test files and fix topup script
  backend/scripts/topup_credits.py
  backend/tests/test_credit_service.py
  backend/tests/test_rate_limiter.py
  backend/tests/test_transaction_repository.py
Due: check-file-length

docs(troubleshooting): add comprehensive fixed bugs documentation
  docs/troubleshooting/fixed-bugs.md
Due: none

docs(features): add Fibonacci trend detection improvements spec
  docs/features/fibonacci-trend-detection-improvements.md
Due: none

feat(fibonacci): Make tolerance configurable per timeframe for better segmentation
  backend/src/core/analysis/fibonacci/config.py
  backend/src/core/analysis/fibonacci/trend_detector.py
  backend/tests/test_fibonacci_trend_detection.py
  backend/tests/test_utils_and_config.py
Due: check-file-length

refine(fibonacci): Tighten daily tolerance to 0.7% for better trend segmentation
  backend/src/core/analysis/fibonacci/config.py
  backend/tests/test_fibonacci_trend_detection.py
Due: check-file-length

chore: bump backend to v0.5.10 with Fibonacci tolerance improvements
  backend/pyproject.toml
  docs/project/versions/backend/v0.5.10.md
Due: none

docs: Update Fibonacci feature spec status and add Docker reminder
  CLAUDE.md
  docs/features/fibonacci-trend-detection-improvements.md
Due: none

deploy: Update backend to v0.5.10 in test environment
  .pipeline/k8s/overlays/test/kustomization.yaml
Due: kube-linter, kubeconform

fix: Update backend patch image to v0.5.10
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
Due: kube-linter, kubeconform

refine(ui): Replace harsh separators and circular buttons with elegant design
  docs/project/versions/frontend/v0.8.13.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/chat/analysisFormatters.ts
Due: check-file-length

docs(features): Add specs for feedback attachments and extended-hours trading
  docs/deployment/langfuse-oss-http-workaround.md
  docs/features/extended-hours-trading-data.md
  docs/features/feedback-image-attachments.md
Due: none

docs(security): Add explicit secret protection warning in CLAUDE.md
  CLAUDE.md
Due: none

deploy: Update frontend to v0.8.13 in test environment
  .pipeline/k8s/overlays/test/frontend-test-patch.yaml
  .pipeline/k8s/overlays/test/kustomization.yaml
Due: kube-linter, kubeconform

feat: Add image upload for feedback submissions
  backend/pyproject.toml
  backend/scripts/create_feedback_bucket.py
  backend/src/api/dependencies/feedback_deps.py
  backend/src/api/feedback.py
  backend/src/database/repositories/feedback_repository.py
  backend/src/models/feedback.py
  backend/src/services/oss_service.py
  backend/tests/test_feedback_images.py
  backend/tests/test_oss_service.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.11.md
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.8.14.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/feedback/FeedbackDetailView.tsx
  frontend/src/components/feedback/FeedbackListItem.tsx
  frontend/src/components/feedback/ImageUploadWidget.tsx
  frontend/src/components/feedback/SubmitFeedbackForm.tsx
  frontend/src/services/feedbackApi.ts
  frontend/src/types/feedback.ts
Due: check-file-length

deploy: Update backend to v0.5.11 and frontend to v0.8.14 in test environment
  .pipeline/k8s/overlays/test/kustomization.yaml
Due: kube-linter, kubeconform

fix: Configure OSS credentials for backend using existing langfuse-secrets
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
Due: kube-linter, kubeconform

fix: Update frontend patch to use v0.8.14 image
  .pipeline/k8s/overlays/test/frontend-test-patch.yaml
Due: kube-linter, kubeconform

fix: Update backend to use image with upload endpoint (test-v0.5.11-1761890785)
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
Due: kube-linter, kubeconform

fix: Use HTTPS for OSS presigned URLs and modernize Kustomize config
  .pipeline/k8s/base/kustomization.yaml
  .pipeline/k8s/overlays/test/kustomization.yaml
  backend/src/services/oss_service.py
Due: check-file-length, kube-linter, kubeconform

chore: Bump backend to v0.5.12 (HTTPS presigned URLs)
  backend/pyproject.toml
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.12.md
Due: none

deploy: Update backend to v0.5.12 in test environment
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
Due: kube-linter, kubeconform

revert: Keep deprecated Kustomize fields (selector labels are immutable)
  .pipeline/k8s/base/kustomization.yaml
  .pipeline/k8s/overlays/test/kustomization.yaml
Due: kube-linter, kubeconform

docs: Add troubleshooting entries for image upload deployment issues
  docs/troubleshooting/deployment-issues.md
Due: none

fix(backend): resolve portfolio chart timeout and agent recursion limit issues
  backend/src/agent/langgraph_react_agent.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/database/repositories/portfolio_order_repository.py
  backend/src/main.py
  backend/src/services/alpaca_trading_service.py
  backend/src/services/watchlist_analyzer.py
Due: check-file-length

chore: Bump backend to v0.5.13
  backend/pyproject.toml
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.13.md
Due: none

docs(testing): reorganize E2E testing documentation structure
  CLAUDE.md
  docs/testing/README.md
  docs/testing/e2e-automation-guide.md
  docs/testing/e2e-reference.md
Due: none

feat(api): enable production-ready rate limiting with Redis backend
  backend/pyproject.toml
  backend/src/api/dependencies/rate_limit.py
  backend/src/api/portfolio.py
  backend/src/api/watchlist.py
  backend/src/main.py
Due: check-file-length

feat: Add production ACK deployment configuration
  .pipeline/k8s/overlays/prod/DEPLOYMENT.md
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/cert-manager-dns-patch.yaml
  .pipeline/k8s/overlays/prod/frontend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/ingress-prod-patch.yaml
  .pipeline/k8s/overlays/prod/init-secrets.sh
  .pipeline/k8s/overlays/prod/kustomization.yaml
  .pipeline/k8s/overlays/prod/mongodb-service.yaml
  .pipeline/k8s/overlays/prod/mongodb-statefulset.yaml
  .pipeline/k8s/overlays/prod/namespace.yaml
  .pipeline/k8s/overlays/prod/rbac.yaml
  .pipeline/k8s/overlays/prod/secrets.yaml
Due: kube-linter, kubeconform

Path conditions:
  check-file-length: any of: \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$
  kube-linter: any of: ^\.pipeline/k8s/.*\.yaml$
  kubeconform: any of: ^\.pipeline/k8s/.*\.yaml$
