Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Financial Agent
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Version validation - enforce version increment
  - repo: local
    hooks:
      - id: validate-version
        name: Validate Version Increment
        entry: ./scripts/validate-version.sh
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: check-file-length
        name: Check for oversized files (500 line limit)
        entry: ./scripts/check-file-length.sh
        language: system
        types_or: [python, javascript, jsx, ts, tsx]
        exclude: '(__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$'

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.12

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^backend/src/
        additional_dependencies:
          - types-redis
          - pydantic

  # Radon complexity - optional (install: pip install radon)
  # - repo: local
  #   hooks:
  #     - id: radon
  #       name: Check code complexity (Radon)
  #       entry: radon cc --min C -a -s
  #       language: system
  #       files: ^backend/.*\.py$
  #       pass_filenames: false

  # Frontend code quality
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, json, css]

  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in k8s yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # Security Scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/src/
        exclude: ^backend/(tests|scripts)/
        args: ["-c", "backend/pyproject.toml", "-ll"]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # Kubernetes Linting (run via Docker on built manifests)
  - repo: local
    hooks:
      - id: kube-linter
        name: Kubernetes Linter (kube-linter)
        entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
        language: system
        files: ^\.pipeline/k8s/.*\.yaml$
        pass_filenames: false

      - id: kubeconform
        name: Kubernetes Validator (kubeconform)
        entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
        language: system
        files: ^\.pipeline/k8s/.*\.yaml$
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile

fix(docs): Restore docker-compose workflow in CLAUDE.md (correction)
  CLAUDE.md
Due: none

docs(CLAUDE.md): Add Environment Rules section clarifying 3-environment setup
  CLAUDE.md
Due: none

fix(frontend): Resolve TypeScript errors and critical performance issues
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/TradingChart.tsx
  frontend/src/components/chart/ChartTooltip.tsx
  frontend/src/components/chart/useChart.ts
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/analysisFormatters.ts
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/components/feedback/FeedbackDetailView.tsx
  frontend/src/components/feedback/FeedbackListItem.tsx
  frontend/src/components/feedback/SubmitFeedbackForm.tsx
  frontend/src/pages/HealthPage.tsx
  frontend/src/services/api.ts
  frontend/src/services/tokenRefresh.ts
  frontend/src/types/api.ts
  frontend/src/utils/analysisMetadataExtractor.ts
  frontend/src/utils/dateRangeCalculator.ts
Due: check-file-length

feat(auth): add 30-day TTL index for revoked refresh tokens
  .pipeline/k8s/base/cronjobs/kustomization.yaml
  .pipeline/k8s/base/cronjobs/reconcile-transactions.yaml
  .pipeline/k8s/overlays/test/cronjob-test-patch.yaml
  .pipeline/k8s/overlays/test/kustomization.yaml
  Makefile
  backend/scripts/topup_credits.py
  backend/src/agent/chat_agent.py
  backend/src/agent/llm_client.py
  backend/src/api/chat.py
  backend/src/api/credits.py
  backend/src/api/dependencies/credit_deps.py
  backend/src/database/repositories/refresh_token_repository.py
  backend/src/database/repositories/transaction_repository.py
  backend/src/database/repositories/user_repository.py
  backend/src/main.py
  backend/src/models/message.py
  backend/src/models/transaction.py
  backend/src/models/user.py
  backend/src/services/credit_service.py
  backend/src/workers/__init__.py
  backend/src/workers/reconcile_transactions.py
  backend/tests/test_credit_service.py
  backend/tests/test_transaction_repository.py
  docs/deployment/credit-system-deployment.md
  docs/features/token-credit-economy.md
  frontend/src/App.tsx
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/TradingChart.tsx
  frontend/src/components/chart/ChartHeader.tsx
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/components/credits/CreditBalance.tsx
  frontend/src/hooks/useCredits.ts
  frontend/src/pages/TransactionHistory.tsx
  frontend/src/services/api.ts
  frontend/src/types/credits.ts
  frontend/src/utils/tokenEstimator.ts
Due: check-file-length, kube-linter, kubeconform

test(frontend): add Vitest infrastructure and pre-commit hooks
  .gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/test/setup.ts
  frontend/vite.config.ts
  scripts/pre-commit
Due: check-file-length

perf(backend): optimize transaction reconciliation with indexed queries
  backend/src/database/repositories/message_repository.py
  backend/src/database/repositories/transaction_repository.py
  backend/src/main.py
  backend/src/workers/reconcile_transactions.py
Due: check-file-length

fix(tests): add MongoDB and auth mocks to stochastic API tests
  backend/tests/test_stochastic_api.py
  backend/tests/test_transaction_repository.py
Due: none

feat(frontend): add CJK-aware token estimation and credit rollback
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/hooks/useCredits.ts
  frontend/src/utils/__tests__/tokenEstimator.test.ts
  frontend/src/utils/tokenEstimator.ts
Due: check-file-length

fix(backend): resolve MongoDB index name conflict
  README.md
  backend/pyproject.toml
  backend/src/database/repositories/message_repository.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.4.md
Due: check-file-length

refactor: fix 43 deprecation warnings (datetime.utcnow + pandas freq)
  backend/src/api/models.py
  backend/src/database/repositories/transaction_repository.py
  backend/tests/test_stochastic_analysis.py
  backend/tests/test_stochastic_api.py
  backend/tests/test_transaction_repository.py
Due: check-file-length

feat(llm): add flexible model selection with per-model pricing
  backend/src/agent/chat_agent.py
  backend/src/agent/llm_client.py
  backend/src/api/chat.py
  backend/src/api/llm_models.py
  backend/src/api/schemas/chat_models.py
  backend/src/core/model_config.py
  backend/src/main.py
  backend/src/services/credit_service.py
  backend/tests/test_credit_service.py
  docs/features/llm-model-selection.md
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/TradingChart.tsx
  frontend/src/components/chart/useChart.ts
  frontend/src/components/chat/ChatInput.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/ModelSettings.tsx
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/services/api.ts
  frontend/src/types/models.ts
Due: check-file-length

refactor: comprehensive code audit fixes for security, type safety, and performance
  backend/pyproject.toml
  backend/src/agent/llm_client.py
  backend/src/api/llm_models.py
  backend/src/core/model_config.py
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatMessages.tsx
Due: check-file-length

feat(ui): enhance layout and add credit privacy toggle
  backend/src/agent/chat_agent.py
  backend/src/database/repositories/refresh_token_repository.py
  frontend/src/App.tsx
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/credits/CreditBalance.tsx
  frontend/src/pages/FeedbackPage.tsx
  frontend/src/pages/HealthPage.tsx
  frontend/src/pages/TransactionHistory.tsx
Due: check-file-length

fix: replace deprecated datetime.utcnow() with datetime.now(UTC)
  backend/src/workers/reconcile_transactions.py
Due: check-file-length

docs(features): mark LLM model selection as completed with implementation details
  docs/features/llm-model-selection.md
  docs/troubleshooting/transaction-reconciliation-datetime-fix.md
Due: none

docs: update current versions to v0.5.4/v0.8.4 across all documentation
  README.md
  docs/README.md
  docs/troubleshooting/known-bugs.md
Due: none

update docs
  README.md
  backend/tests/REACT_SDK_FINDINGS.md
  docs/README.md
  docs/TODO_ARCHITECTURE_IMPROVEMENTS.md
  docs/architecture/agent-12-factors.md
  docs/architecture/react-agent-integration.md
  docs/architecture/system-design.md
  docs/deployment/MIGRATION_DEV_TO_TEST.md
  docs/deployment/RESOURCE_INVENTORY.md
  docs/deployment/workflow.md
  docs/development/getting-started.md
  docs/development/verification.md
  docs/features/feedback-platform.md
  docs/features/llm-model-selection.md
  docs/project/specifications.md
  docs/project/versions/VERSION_MATRIX.md
  docs/troubleshooting/README.md
  docs/troubleshooting/deployment-issues.md
  docs/troubleshooting/fixed-bugs.md
  docs/troubleshooting/mongodb-cosmos-db.md
  docs/troubleshooting/mongodb-unique-indexes-with-nulls.md
Due: none

fix: Critical bug fixes for ReAct agent conversation history and caching
  backend/src/agent/langgraph_react_agent.py
  backend/src/api/analysis.py
  backend/src/api/chat.py
  backend/src/api/health.py
  backend/src/core/data/ticker_data_service.py
  backend/tests/test_stochastic_api.py
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ModelSettings.tsx
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/services/api.ts
  frontend/src/types/models.ts
Due: check-file-length

feat: Add Langfuse v3.x observability infrastructure
  CLAUDE.md
  backend/pyproject.toml
  backend/src/core/config.py
  docker-compose.yml
  docs/architecture/system-design.md
  docs/features/README.md
  docs/features/langfuse-observability.md
Due: check-file-length

refactor(agent): integrate LangGraph SDK ReAct agent (v3) with flexible tool routing
  backend/src/api/dependencies/chat_deps.py
  backend/src/api/schemas/chat_models.py
  backend/src/database/repositories/message_repository.py
  backend/src/main.py
  backend/src/models/message.py
  backend/src/services/chat_service.py
  docs/features/langgraph-sdk-react-agent.md
  frontend/src/types/api.ts
Due: check-file-length

perf(auth): implement singleton pattern for Tencent SES email client
  backend/src/services/auth_providers/email_provider.py
Due: check-file-length

fix(database): Cosmos DB MongoDB API sorting compatibility - Backend v0.5.5
  .pipeline/k8s/overlays/test/kustomization.yaml
  backend/pyproject.toml
  backend/src/database/repositories/chat_repository.py
  docs/deployment/cosmos-db-mongodb-compatibility.md
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.5.md
  docs/troubleshooting/mongodb-cosmos-db.md
Due: check-file-length, kube-linter, kubeconform

docs: Fix version file typos and add External Secrets sync troubleshooting guide
  docs/project/versions/backend/v0.4.0.md
  docs/project/versions/backend/v0.4.1.md
  docs/project/versions/backend/v0.4.10.md
  docs/project/versions/backend/v0.4.5.md
  docs/project/versions/backend/v0.4.6.md
  docs/project/versions/backend/v0.5.0.md
  docs/project/versions/backend/v0.5.4.md
  docs/troubleshooting/README.md
  docs/troubleshooting/external-secrets-sync.md
Due: none

docs: comprehensive documentation updates from /update_docs audit
  CONTRIBUTING.md
  README.md
  docs/README.md
  docs/architecture/database-schema.md
  docs/development/pipeline-workflow.md
Due: none

fix(backend): remove broken chat_react module import
  backend/src/main.py
Due: check-file-length

feat(infrastructure): deploy Langfuse v3 observability platform
  .pipeline/k8s/base/kustomization.yaml
  .pipeline/k8s/base/langfuse/clickhouse-service.yaml
  .pipeline/k8s/base/langfuse/clickhouse-statefulset.yaml
  .pipeline/k8s/base/langfuse/db-init-job.yaml
  .pipeline/k8s/base/langfuse/ingress.yaml
  .pipeline/k8s/base/langfuse/server-deployment.yaml
  .pipeline/k8s/base/langfuse/server-service.yaml
  .pipeline/k8s/base/langfuse/worker-deployment.yaml
  .pipeline/k8s/overlays/test/secrets.yaml
  docs/deployment/langfuse-oss-http-workaround.md
  docs/deployment/langfuse-production-deployment.md
  scripts/verify-oss-s3-auth.py
Due: check-file-length, kube-linter, kubeconform

refactor(backend): improve Cosmos DB compatibility and Redis client naming
  backend/src/core/rate_limiter.py
  backend/src/database/repositories/refresh_token_repository.py
Due: check-file-length

feat(frontend): v0.8.5 - relative API URLs for production deployment
  frontend/package-lock.json
  frontend/package.json
  frontend/src/services/feedbackApi.ts
Due: check-file-length

chore(infrastructure): optimize resources and add Langfuse integration to backend
  .pipeline/k8s/base/redis/deployment.yaml
  .pipeline/k8s/base/workload-identity/serviceaccount.yaml
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
  .pipeline/k8s/overlays/test/frontend-test-patch.yaml
Due: kube-linter, kubeconform

fix(infrastructure): correct backend image tag from v0.5.8 to v0.5.5
  .pipeline/k8s/base/kustomization.yaml
Due: kube-linter, kubeconform

test: add comprehensive rate limiter tests and testing strategy
  backend/tests/test_rate_limiter.py
  docs/development/testing-strategy.md
  frontend/src/services/__tests__/chatApi.test.ts
Due: none

feat(frontend): Add mobile-responsive layout for chat interface
  frontend/src/App.tsx
  frontend/src/components/EnhancedChatInterface.tsx
Due: check-file-length

chore: Bump frontend version to 0.8.6 for mobile responsiveness deployment
  .pipeline/k8s/base/kustomization.yaml
  frontend/package-lock.json
  frontend/package.json
Due: kube-linter, kubeconform

chore: Bump backend version to 0.5.6 to fix chat_react import error
  .pipeline/k8s/base/kustomization.yaml
  backend/pyproject.toml
Due: kube-linter, kubeconform

fix(backend): Remove duplicate index creation log messages
  backend/src/main.py
Due: check-file-length

fix(frontend): Improve mobile chart overlay UX with visible close buttons
  frontend/src/components/EnhancedChatInterface.tsx
Due: check-file-length

chore: Bump frontend to v0.8.7 for mobile UX improvements
  .pipeline/k8s/base/kustomization.yaml
  frontend/package-lock.json
  frontend/package.json
Due: kube-linter, kubeconform

feat(health): enrich pod cards with K8s metadata in admin dashboard
  .pipeline/k8s/overlays/test/kustomization.yaml
  backend/pyproject.toml
  backend/src/api/schemas/admin_models.py
  backend/src/services/kubernetes_metrics_service.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/HealthCheck.tsx
  frontend/src/pages/HealthPage.tsx
  frontend/src/types/api.ts
Due: check-file-length, kube-linter, kubeconform

docs: update infrastructure details and troubleshooting guides
  README.md
  docs/architecture/system-design.md
  docs/deployment/cloud-setup.md
  docs/deployment/infrastructure.md
  docs/project/versions/backend/v0.5.6.md
  docs/troubleshooting/deployment-issues.md
Due: none

fix: Critical credit system integration for v2 (Copilot) and v3 (Agent) modes
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/api/analysis.py
  backend/src/api/chat.py
  backend/src/api/schemas/admin_models.py
  backend/src/database/repositories/chat_repository.py
  backend/src/database/repositories/refresh_token_repository.py
  backend/src/services/kubernetes_metrics_service.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.8.md
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.8.11.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/useAnalysis.ts
Due: check-file-length
