Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

check-file-length:
  name: Check for oversized files (500 line limit)
  entry: ./scripts/check-file-length.sh
  language: system

kube-linter:
  name: Kubernetes Linter (kube-linter)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

kubeconform:
  name: Kubernetes Validator (kubeconform)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

feat(k8s): Add comprehensive security contexts to all deployments
  .pipeline/k8s/base/backend/deployment.yaml
  .pipeline/k8s/base/frontend/deployment.yaml
  .pipeline/k8s/base/redis/deployment.yaml
Due: kube-linter, kubeconform

fix(frontend): Update nginx to port 8080 and sync image tags to v0.6.1/v0.4.5
  .pipeline/k8s/base/frontend/service.yaml
  .pipeline/k8s/base/kustomization.yaml
  .pipeline/k8s/overlays/test/kustomization.yaml
  frontend/nginx.conf
Due: kube-linter, kubeconform

docs: Add comprehensive troubleshooting and security documentation
  docs/deployment/cost-optimization.md
  docs/deployment/security-hardening.md
  docs/features/README.md
  docs/troubleshooting/git-history-rewrite.md
  docs/troubleshooting/mongodb-cosmos-db.md
Due: none

docs: Update documentation to reflect current architecture
  docs/README.md
  docs/architecture/system-design.md
  docs/deployment/cloud-setup.md
  docs/development/verification.md
Due: none

docs(workflow): Add feature spec requirement and cost monitoring
  CLAUDE.md
Due: none

docs(deployment): Update resource inventory and troubleshooting guides
  docs/deployment/RESOURCE_INVENTORY.md
  docs/troubleshooting/deployment-issues.md
Due: none

feat(auth): Add RefreshToken models and repository (Phase 1a)
  backend/pyproject.toml
  backend/src/database/repositories/__init__.py
  backend/src/database/repositories/refresh_token_repository.py
  backend/src/models/__init__.py
  backend/src/models/refresh_token.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.4.6.md
Due: check-file-length

feat(auth): Implement dual-token JWT authentication system (v0.4.7)
  CLAUDE.md
  backend/pyproject.toml
  backend/src/api/auth.py
  backend/src/api/schemas/__init__.py
  backend/src/api/schemas/auth_schemas.py
  backend/src/main.py
  backend/src/services/token_service.py
  docs/features/admin-health-dashboard.md
  docs/features/auth-token-security.md
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.4.7.md
  docs/troubleshooting/git-history-rewrite.md
Due: check-file-length

feat(frontend): Implement dual-token JWT authentication with auto-refresh (v0.7.0)
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.7.0.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/LoginPage.tsx
  frontend/src/components/auth/ForgotPasswordFlow.tsx
  frontend/src/components/auth/RegistrationFlow.tsx
  frontend/src/services/api.ts
  frontend/src/services/authService.ts
  frontend/src/services/tokenRefresh.ts
Due: check-file-length

feat(ux): Add auto-scroll and BLUF-formatted analysis output
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.7.0.md
  docs/project/versions/frontend/v0.7.1.md
  frontend/package.json
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/analysisFormatters.ts
Due: check-file-length

feat(ux): Add user messages for button clicks and table-based analysis
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.7.2.md
  frontend/package.json
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/analysisFormatters.ts
Due: check-file-length

fix(ux): Auto-scroll to latest user message like Gemini chat
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.7.3.md
  frontend/package.json
  frontend/src/components/chat/ChatMessages.tsx
Due: check-file-length

fix(ux): Render tables properly and remove redundant Stochastic text
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.7.4.md
  frontend/package.json
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/analysisFormatters.ts
Due: check-file-length

feat(ux): Add dynamic color intensity to Stochastic signal
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.7.5.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/analysisFormatters.ts
Due: check-file-length

fix(ux): Improve terminology and text contrast for all analysis types
  frontend/src/components/chat/analysisFormatters.ts
Due: check-file-length

feat(ux): Use yellow text for NEUTRAL Stochastic signal
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/analysisFormatters.ts
Due: check-file-length

feat(ux): Make assistant responses fill full chat width
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChatMessages.tsx
Due: check-file-length

docs: Add v0.7.6 and v0.7.7 release documentation
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.7.6.md
  docs/project/versions/frontend/v0.7.7.md
Due: none

fix(ux): Preserve inline styles in ReactMarkdown table components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChatMessages.tsx
Due: check-file-length

feat(agent): Make LLM responses more conversational for follow-ups
  backend/pyproject.toml
  backend/src/agent/llm_client.py
Due: check-file-length

docs: Add v0.4.8 backend release documentation
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.4.8.md
Due: none

fix(ux): Fix button nesting warning and add symbol selection debug logging
  backend/src/agent/llm_client.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatListItem.tsx
Due: check-file-length

perf(ux): Optimize ChartPanel to prevent excessive re-renders
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChartPanel.tsx
Due: check-file-length

chore: Remove debug logs and enforce test-first policy
  CLAUDE.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ChartPanel.tsx
Due: check-file-length

feat(ux): Add instant transparent tooltips to analysis buttons
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChartPanel.tsx
Due: check-file-length

security(backend): Implement atomic token rotation with MongoDB transactions
  backend/pyproject.toml
  backend/src/database/repositories/refresh_token_repository.py
  backend/src/services/token_service.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.4.9.md
Due: check-file-length

security(backend): Add authentication to all unprotected API endpoints
  CLAUDE.md
  backend/src/api/analysis.py
  backend/src/api/dependencies/auth.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/api/market_data.py
Due: check-file-length

refactor: Remove 1,519 lines of deprecated code and simplify architecture
  backend/pyproject.toml
  backend/src/agent/__init__.py
  backend/src/agent/chat_agent.py
  backend/src/agent/session_manager.py
  backend/src/agent/state.py
  backend/src/api/auth.py
  backend/src/api/chat.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/api/models.py
  backend/src/api/schemas/chat_models.py
  backend/src/main.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.4.10.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/chat/ChatMessageInput.tsx
  frontend/src/components/chat/DateRangeControls.tsx
  frontend/src/components/chat/QuickAnalysisPanel.tsx
  frontend/src/services/api.ts
  frontend/src/utils/metadataValidation.ts
Due: check-file-length

feat(ui): Add custom financial-themed favicon
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.svg
Due: none

feat(admin): Add admin health dashboard with K8s metrics and database stats
  backend/pyproject.toml
  backend/src/api/admin.py
  backend/src/api/dependencies/auth.py
  backend/src/api/schemas/admin_models.py
  backend/src/database/repositories/user_repository.py
  backend/src/main.py
  backend/src/models/user.py
  backend/src/services/database_stats_service.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.0.md
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.8.0.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/pages/HealthPage.tsx
  frontend/src/services/authService.ts
Due: check-file-length

feat(k8s): Add real Kubernetes metrics collection with RBAC
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
  .pipeline/k8s/overlays/test/kustomization.yaml
  .pipeline/k8s/overlays/test/rbac.yaml
  backend/pyproject.toml
  backend/src/api/admin.py
  backend/src/services/kubernetes_metrics_service.py
Due: check-file-length, kube-linter, kubeconform

feat(backend): deduplicate symbol search results with exchange priority
  backend/src/api/market_data.py
  backend/src/services/market/__init__.py
  backend/src/services/market/symbol_search.py
Due: check-file-length

feat(frontend): add OHLC tooltip with volume and date range display
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TradingChart.tsx
  frontend/src/components/chart/ChartTooltip.tsx
  frontend/src/components/chart/useChart.ts
Due: check-file-length

docs: add feature spec for symbol search and chart improvements
  docs/features/symbol-search-and-chart-improvements.md
Due: none

fix(frontend): prevent auto-scroll during chat streaming
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChatMessages.tsx
Due: check-file-length

docs(versions): add release notes for frontend v0.8.1 and v0.8.2
  docs/project/versions/frontend/v0.8.1.md
  docs/project/versions/frontend/v0.8.2.md
Due: none

feat(feedback): Add community feedback platform with security & performance optimizations
  CLAUDE.md
  README.md
  backend/pyproject.toml
  backend/src/api/dependencies/feedback_deps.py
  backend/src/api/feedback.py
  backend/src/core/rate_limiter.py
  backend/src/database/repositories/comment_repository.py
  backend/src/database/repositories/feedback_repository.py
  backend/src/database/repositories/user_repository.py
  backend/src/main.py
  backend/src/models/feedback.py
  backend/src/models/user.py
  backend/src/services/feedback_export_service.py
  backend/src/services/feedback_service.py
  docs/README.md
  docs/architecture/system-design.md
  docs/deployment/infrastructure.md
  docs/development/getting-started.md
  docs/features/feedback-platform.md
  docs/project/specifications.md
  docs/project/versions/backend/v0.5.2.md
  docs/project/versions/frontend/v0.8.3.md
  docs/troubleshooting/known-bugs.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/feedback/FeedbackDetailView.tsx
  frontend/src/components/feedback/FeedbackLeaderboard.tsx
  frontend/src/components/feedback/FeedbackListItem.tsx
  frontend/src/components/feedback/SubmitFeedbackForm.tsx
  frontend/src/pages/FeedbackPage.tsx
  frontend/src/services/feedbackApi.ts
  frontend/src/types/feedback.ts
Due: check-file-length

update docs
  docs/README.md
  docs/features/feedback-platform.md
  docs/project/versions/backend/v0.5.2.md
  docs/project/versions/frontend/v0.8.3.md
Due: none

fix(types): resolve 107 mypy type annotation errors across codebase
  backend/pyproject.toml
  backend/src/agent/chat_agent.py
  backend/src/agent/llm_client.py
  backend/src/api/admin.py
  backend/src/api/auth.py
  backend/src/api/chat.py
  backend/src/api/dependencies/auth.py
  backend/src/api/dependencies/feedback_deps.py
  backend/src/api/health.py
  backend/src/api/market_data.py
  backend/src/api/schemas/chat_models.py
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/analysis/fibonacci/level_calculator.py
  backend/src/core/analysis/stock_analyzer.py
  backend/src/core/rate_limiter.py
  backend/src/database/mongodb.py
  backend/src/database/redis.py
  backend/src/database/repositories/comment_repository.py
  backend/src/database/repositories/feedback_repository.py
  backend/src/database/repositories/message_repository.py
  backend/src/database/repositories/refresh_token_repository.py
  backend/src/database/repositories/user_repository.py
  backend/src/main.py
  backend/src/services/auth_service.py
  backend/src/services/token_service.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.3.md
Due: check-file-length

docs: Update to reflect v0.5.3 type safety and current development workflow
  CLAUDE.md
  docs/README.md
  docs/development/coding-standards.md
  docs/development/getting-started.md
  docs/development/pipeline-workflow.md
  docs/troubleshooting/README.md
Due: none

Path conditions:
  check-file-length: any of: \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$
  kube-linter: any of: ^\.pipeline/k8s/.*\.yaml$
  kubeconform: any of: ^\.pipeline/k8s/.*\.yaml$
