Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

check-file-length:
  name: Check for oversized files (500 line limit)
  entry: ./scripts/check-file-length.sh
  language: system

kube-linter:
  name: Kubernetes Linter (kube-linter)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

kubeconform:
  name: Kubernetes Validator (kubeconform)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

test(market): add comprehensive tests for symbol_search utilities
  backend/tests/test_symbol_search.py
Due: none

test: add comprehensive Fibonacci level calculator tests (37 tests, 95% coverage)
  backend/tests/test_fibonacci_level_calculator.py
Due: none

test: add comprehensive date utils tests (36 tests, 100% coverage)
  backend/tests/test_date_utils.py
Due: none

test: add comprehensive Fibonacci config tests (33 tests, 100% coverage)
  backend/tests/test_fibonacci_config.py
Due: none

test: add comprehensive exception hierarchy tests (33 tests, 100% coverage)
  backend/tests/test_exceptions.py
Due: none

test: add financial analysis module export tests (8 tests, 100% coverage)
  backend/tests/test_financial_analysis.py
Due: none

test: add comprehensive model config tests (39 tests, 100% coverage)
  backend/tests/test_model_config.py
Due: none

test: add comprehensive localization tests (47 tests, 100% coverage)
  backend/tests/test_localization.py
Due: none

test: add analysisMetadataExtractor tests (28 tests, 100% coverage)
  frontend/src/utils/__tests__/analysisMetadataExtractor.test.ts
Due: none

test: add market service tests (39 tests, 100% coverage)
  frontend/src/services/__tests__/market.test.ts
Due: none

test: add analysis service tests (33 tests, extensive API & NLP coverage)
  frontend/src/services/__tests__/analysis.test.ts
Due: none

test: add Alpha Vantage API tests (17 tests, 100% coverage)
  frontend/src/services/__tests__/alphaVantageApi.test.ts
Due: none

test: add watchlist API tests (9 tests, 100% coverage)
  frontend/src/services/__tests__/watchlistApi.test.ts
Due: none

test: add feedback API tests (15 tests, 100% coverage)
  frontend/src/services/__tests__/feedbackApi.test.ts
Due: none

test: fix 28 backend test failures and add comprehensive coverage report
  backend/src/database/repositories/holding_repository.py
  backend/tests/test_alphavantage_market_data_service.py
  backend/tests/test_auth_service.py
  backend/tests/test_portfolio_order_repository.py
  backend/tests/test_token_service.py
  backend/tests/test_user_repository.py
  docs/testing/unit-test-coverage-report.md
Due: check-file-length

feat(agent): add portfolio analysis with Alpha Vantage tools and batch processing
  backend/pyproject.toml
  backend/scripts/run_portfolio_analysis.py
  backend/src/agent/portfolio_analysis_agent.py
  backend/src/agent/tools/alpha_vantage_tools.py
  backend/src/agent/tools/trading_tools.py
  backend/src/services/context_window_manager.py
  backend/src/services/watchlist_analyzer.py
  frontend/src/services/__tests__/watchlistApi.test.ts
Due: check-file-length

feat(agent): integrate ContextWindowManager for portfolio agent per-symbol context
  backend/src/api/dependencies/auth.py
Due: check-file-length

feat(frontend): update "立即分析" button to use admin portfolio trigger endpoint
  frontend/src/services/watchlistApi.ts
Due: check-file-length

feat(backend): add Alpha Vantage market data service layer
  backend/src/services/alphavantage_market_data.py
  backend/src/services/alphavantage_response_formatter.py
Due: check-file-length

feat(backend): add portfolio analysis admin trigger endpoint
  backend/src/api/admin.py
  backend/src/core/config.py
  backend/src/database/repositories/user_repository.py
  backend/src/models/portfolio.py
Due: check-file-length

feat(backend): enhance portfolio API with filtering and data enrichment
  backend/src/api/portfolio.py
  backend/src/services/alpaca_trading_service.py
  backend/src/services/context_window_manager.py
  backend/src/services/credit_service.py
Due: check-file-length

feat(frontend): add portfolio chat filters and enhanced UI
  frontend/src/components/chat/ChatSidebar.tsx
  frontend/src/components/portfolio/PortfolioChatSidebar.tsx
  frontend/src/hooks/usePortfolioChatDetail.ts
  frontend/src/hooks/usePortfolioChats.ts
  frontend/src/pages/PortfolioDashboard.tsx
Due: check-file-length

chore(i18n): add translations for portfolio filters and features
  frontend/public/locales/en/chat.json
  frontend/public/locales/en/portfolio.json
  frontend/public/locales/zh-CN/chat.json
  frontend/public/locales/zh-CN/portfolio.json
Due: none

chore(infra): update K8s manifests, docs, and dev environment config
  .pipeline/k8s/base/kustomization.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  CLAUDE.md
  backend/Dockerfile
  docker-compose.yml
  docs/README.md
  docs/troubleshooting/README.md
Due: kube-linter, kubeconform

fix(backend): minor refinements to existing services
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/localization.py
  backend/src/main.py
  backend/src/services/oss_service.py
Due: check-file-length

feat(k8s): add portfolio analysis CronJob with HTTP trigger pattern
  .pipeline/k8s/base/cronjobs/portfolio-analysis-trigger.yaml
  .pipeline/k8s/base/cronjobs/portfolio-analysis.yaml
  .pipeline/k8s/overlays/prod/cronjob-portfolio-analysis-patch.yaml
Due: kube-linter, kubeconform

feat(frontend): add portfolio dashboard UI components
  frontend/src/components/portfolio/CronController.tsx
  frontend/src/components/portfolio/DateRangePicker.tsx
  frontend/src/components/portfolio/PortfolioSummaryTable.tsx
  frontend/src/components/portfolio/RecentTransactions.tsx
  frontend/src/components/portfolio/SummarySection.tsx
  frontend/src/components/portfolio/SymbolFilter.tsx
Due: check-file-length

feat(backend): add portfolio management utility scripts
  backend/scripts/cleanup_user_portfolio_chats.py
  backend/scripts/create_message_timestamp_index.py
  backend/scripts/create_portfolio_agent_user.py
  backend/scripts/init_portfolio_agent.py
  backend/scripts/migrate_analysis_chats.py
  backend/scripts/verify_migration.py
Due: check-file-length

docs: add portfolio CronJob, TestSprite, and docker troubleshooting guides
  docs/features/portfolio-analysis-cronjob-http.md
  docs/testing/testsprite-setup.md
  docs/troubleshooting/docker-env-reload-issue.md
Due: none

fix(agent): prevent thread_id collision in concurrent agent invocations
  backend/src/agent/langgraph_react_agent.py
Due: check-file-length

feat(agent): unify portfolio analysis with holistic portfolio-aware prompt
  .claude/plan/date-range-selection-COMPLETE.md
  .claude/plan/date-range-selection-phases-6-9.md
  .claude/plan/fix-1min-intraday-analysis.md
  .claude/plan/help-modal-feature.md
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/portfolio_analysis_agent.py
  backend/src/agent/tools/alpha_vantage_tools.py
  backend/src/api/admin.py
  backend/src/api/portfolio.py
  backend/src/api/watchlist.py
  backend/src/database/repositories/holding_repository.py
  backend/src/services/alpaca_trading_service.py
  backend/src/services/alphavantage_market_data.py
  backend/src/services/alphavantage_response_formatter.py
  backend/src/services/context_window_manager.py
Due: check-file-length

chore(backend): bump version to 0.8.0 for unified portfolio analysis
  backend/pyproject.toml
  docs/project/versions/backend/CHANGELOG.md
Due: none

fix(api): make QuoteResponse.latest_trading_day optional to prevent validation errors
  backend/src/api/market_data.py
Due: check-file-length

feat(chat): implement persistent UI state with auto-create and flush-on-action
  backend/src/api/chat.py
  backend/src/models/chat.py
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/SymbolSearch.tsx
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/hooks/useChatRestoration.ts
  frontend/src/hooks/useUIStateSync.ts
  frontend/src/services/api.ts
  frontend/src/types/api.ts
Due: check-file-length

fix(ui): correct help button direction text and add chatId debug display
  frontend/public/locales/zh-CN/chat.json
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/useChatManager.ts
Due: check-file-length

chore: ignore Claude Code configuration directory
  .gitignore
Due: none

fix(watchlist): enhance symbol validation with multi-layer fallback strategies
  backend/pyproject.toml
  backend/src/api/watchlist.py
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length

fix(ui): move help button to bottom-left and remove market movers hover styling
  docs/project/versions/frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/MarketMovers.tsx
Due: check-file-length

chore(deploy): update production image tags for v0.8.0/v0.11.0 release
  .pipeline/k8s/overlays/prod/kustomization.yaml
Due: kube-linter, kubeconform

feat(chat): auto-inject selected symbol from UI into agent context
  backend/pyproject.toml
  backend/src/api/chat.py
  backend/tests/test_chat_symbol_context.py
  docs/features/chat-symbol-context.md
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length

Path conditions:
  check-file-length: any of: \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$
  kube-linter: any of: ^\.pipeline/k8s/.*\.yaml$
  kubeconform: any of: ^\.pipeline/k8s/.*\.yaml$
