Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

check-file-length:
  name: Check for oversized files (500 line limit)
  entry: ./scripts/check-file-length.sh
  language: system

kube-linter:
  name: Kubernetes Linter (kube-linter)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

kubeconform:
  name: Kubernetes Validator (kubeconform)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

fix(backend): resolve rate limiting middleware crash on Redis connection failure
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/pyproject.toml
  backend/src/api/dependencies/rate_limit.py
  backend/src/main.py
  docs/project/versions/backend/v0.5.14.md
Due: check-file-length, kube-linter, kubeconform

fix(frontend): standardize API URL env var to VITE_API_URL
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/pyproject.toml
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.15.md
  docs/project/versions/frontend/CHANGELOG.md
  docs/project/versions/frontend/v0.8.15.md
  docs/project/versions/frontend/v0.8.16.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/portfolio/PortfolioChatSidebar.tsx
  frontend/src/hooks/usePortfolioChatDetail.ts
  frontend/src/hooks/usePortfolioChats.ts
  frontend/src/hooks/usePortfolioOrders.ts
  frontend/src/services/watchlistApi.ts
Due: check-file-length, kube-linter, kubeconform

fix cors error on ack
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/pyproject.toml
  backend/src/api/market_data.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/portfolio/PortfolioChatSidebar.tsx
  frontend/src/hooks/usePortfolioChatDetail.ts
  frontend/src/hooks/usePortfolioChats.ts
  frontend/src/hooks/usePortfolioOrders.ts
  frontend/src/services/watchlistApi.ts
Due: check-file-length, kube-linter, kubeconform

feat(backend): migrate to Alpha Vantage with performance optimizations
  .pipeline/k8s/overlays/prod/kustomization.yaml
  .pipeline/k8s/overlays/prod/secrets.yaml
  .pipeline/k8s/overlays/test/kustomization.yaml
  .pipeline/k8s/overlays/test/secrets.yaml
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/api/analysis.py
  backend/src/api/market_data.py
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/analysis/macro_analyzer.py
  backend/src/core/analysis/stock_analyzer.py
  backend/src/core/config.py
  backend/src/core/data/stock_data_fetcher.py
  backend/src/core/data/ticker_data_service.py
  backend/src/main.py
  backend/src/services/alphavantage_market_data.py
  backend/src/services/watchlist_analyzer.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.18.md
Due: check-file-length, kube-linter, kubeconform

fix(backend): skip deprecated yfinance tests pending Alpha Vantage implementation
  backend/pyproject.toml
  backend/src/core/analysis/stock_analyzer.py
  backend/tests/test_financial_calculations.py
  backend/tests/test_stochastic_api.py
  backend/tests/test_ticker_data_service.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.5.20.md
Due: check-file-length

feat(fullstack): add Alpha Vantage integration and code review fixes
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/secrets.yaml
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/tools/alpha_vantage_tools.py
  backend/src/api/analysis.py
  backend/src/api/chat.py
  backend/src/api/market_data.py
  backend/src/api/models.py
  backend/src/api/schemas/chat_models.py
  backend/src/core/config.py
  backend/src/core/data/ticker_data_service.py
  backend/src/database/repositories/message_repository.py
  backend/src/models/message.py
  backend/src/services/alphavantage_market_data.py
  backend/src/services/chat_service.py
  docs/project/versions/backend/v0.6.0.md
  docs/project/versions/frontend/v0.9.0.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/MarketMovers.tsx
  frontend/src/components/NewsSentimentTool.tsx
  frontend/src/components/SymbolSearch.tsx
  frontend/src/components/ToolWrapper.tsx
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/ToolMessageWrapper.tsx
  frontend/src/components/chat/analysisFormatters.ts
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/constants/toolRegistry.ts
  frontend/src/hooks/useChatRestoration.ts
  frontend/src/pages/PortfolioDashboard.tsx
  frontend/src/services/alphaVantageApi.ts
  frontend/src/services/analysis.ts
  frontend/src/services/api.ts
  frontend/src/types/alphaVantage.ts
  frontend/src/types/api.ts
Due: check-file-length, kube-linter, kubeconform

fix(k8s): remove commonLabels to prevent service selector mutation
  .pipeline/k8s/overlays/prod/kustomization.yaml
  CLAUDE.md
  docs/deployment/secrets-architecture.md
Due: kube-linter, kubeconform

fix(infra): nginx-ingress LoadBalancer annotation and webhook fixes
  .pipeline/helm/nginx-ingress/README.md
  .pipeline/helm/nginx-ingress/values-prod.yaml
  .pipeline/helm/nginx-ingress/values.yaml
Due: none

fix(infra): sync Redis deployment with ACR image to prevent ImagePullBackOff
  .pipeline/k8s/base/redis/deployment.yaml
Due: kube-linter, kubeconform

feat(security): add HSTS header to production ingress
  .pipeline/k8s/overlays/prod/ingress-prod-patch.yaml
Due: kube-linter, kubeconform

docs(deployment): update environment status and add ACK architecture docs
  README.md
  docs/deployment/ack-architecture.md
  docs/troubleshooting/kubernetes-issues.md
Due: none

docs(k8s): add comprehensive ACK troubleshooting patterns
  docs/troubleshooting/kubernetes-issues.md
Due: none

fix(data): complete AlphaVantage integration across all TickerDataService instances
  backend/pyproject.toml
  backend/src/api/analysis.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/api/dependencies/portfolio_deps.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.6.1.md
Due: check-file-length

perf(api/market): add 30-minute Redis caching to market movers endpoint
  backend/pyproject.toml
  backend/src/api/market_data.py
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/backend/v0.6.2.md
Due: check-file-length

fix(k8s): add namespace env var and RBAC permissions for metrics API
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  .pipeline/k8s/overlays/prod/rbac.yaml
  backend/src/api/admin.py
  backend/src/core/config.py
  backend/src/services/kubernetes_metrics_service.py
Due: check-file-length, kube-linter, kubeconform

style: apply Black formatting to backend codebase
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/tools/alpha_vantage_tools.py
  backend/src/api/analysis.py
  backend/src/api/chat.py
  backend/src/api/feedback.py
  backend/src/api/models.py
  backend/src/api/portfolio.py
  backend/src/api/schemas/chat_models.py
  backend/src/api/schemas/portfolio_models.py
  backend/src/api/watchlist.py
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/analysis/fibonacci/config.py
  backend/src/core/analysis/macro_analyzer.py
  backend/src/core/analysis/stock_analyzer.py
  backend/src/core/utils/__init__.py
  backend/src/core/utils/dashscope_fix.py
  backend/src/core/utils/token_utils.py
  backend/src/core/utils/yfinance_utils.py
  backend/src/database/repositories/holding_repository.py
  backend/src/database/repositories/message_repository.py
  backend/src/database/repositories/portfolio_order_repository.py
  backend/src/database/repositories/watchlist_repository.py
  backend/src/main.py
  backend/src/models/feedback.py
  backend/src/models/holding.py
  backend/src/models/portfolio.py
  backend/src/models/tool_execution.py
  backend/src/models/watchlist.py
  backend/src/services/alpaca_data_service.py
  backend/src/services/alpaca_trading_service.py
  backend/src/services/alphavantage_market_data.py
  backend/src/services/oss_service.py
  backend/src/services/portfolio_service.py
  backend/src/services/tool_cache_wrapper.py
  backend/src/services/watchlist_analyzer.py
Due: check-file-length

perf(chat): optimize streaming with batching, circuit breaker, and deduplication
  backend/src/agent/callbacks/__init__.py
  backend/src/agent/callbacks/tool_execution_callback.py
  backend/src/api/chat.py
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/components/chat/ToolExecutionProgress.tsx
  frontend/src/components/chat/useAnalysis.ts
  frontend/src/types/api.ts
Due: check-file-length

docs: add streaming troubleshooting guides and update changelogs
  CLAUDE.md
  docs/project/versions/backend/CHANGELOG.md
  docs/project/versions/frontend/CHANGELOG.md
  docs/troubleshooting/frontend-issues.md
  docs/troubleshooting/streaming-issues.md
Due: none

feat(frontend): add interactive help modal with onboarding guide
  .claude/plan/help-modal-feature.md
  docs/project/versions/frontend/v0.10.0.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/HelpModal.tsx
  frontend/src/components/chat/useChatManager.ts
Due: check-file-length

fix: use compact mode for daily data (100 bars)
  backend/src/services/alphavantage_market_data.py
Due: check-file-length

refactor(analysis): remove 60m interval and disable intraday technical analysis
  backend/src/api/analysis.py
  backend/src/api/models.py
  backend/src/core/analysis/fibonacci/config.py
  frontend/src/components/chart/ChartHeader.tsx
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/components/chat/useAnalysis.ts
Due: check-file-length

feat(market-data): add interval-specific time caps and professional date ranges
  backend/src/agent/tools/alpha_vantage_tools.py
  backend/src/api/market_data.py
  backend/src/services/alphavantage_market_data.py
  frontend/src/utils/dateRangeCalculator.ts
Due: check-file-length

feat(agent): integrate AlphaVantage tools and enhance analysis formatting
  .claude/plan/date-range-selection-COMPLETE.md
  .claude/plan/date-range-selection-phases-6-9.md
  .claude/plan/fix-1min-intraday-analysis.md
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/llm_client.py
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/analysis/macro_analyzer.py
  backend/src/core/analysis/stochastic_analyzer.py
  backend/src/services/alphavantage_response_formatter.py
  backend/tests/test_alphavantage_response_formatter.py
  docs/project/versions/backend/v0.7.0.md
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/TradingChart.tsx
  frontend/src/components/chat/analysisFormatters.ts
  frontend/src/services/analysis.ts
  frontend/src/services/api.ts
  frontend/src/services/market.ts
  frontend/src/types/api.ts
Due: check-file-length

deploy(prod): upgrade backend v0.7.0, frontend v0.10.0 to ACK
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
Due: kube-linter, kubeconform

refactor(backend): code formatting and add language support to system prompt
  backend/src/agent/llm_client.py
  backend/src/api/analysis.py
  backend/src/api/market_data.py
  backend/src/api/models.py
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/analysis/macro_analyzer.py
  backend/src/core/analysis/stochastic_analyzer.py
  backend/src/core/data/ticker_data_service.py
  backend/src/services/alphavantage_market_data.py
  backend/src/services/alphavantage_response_formatter.py
Due: check-file-length

feat(oss): add presigned URLs for private bucket feedback images
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/test/backend-test-patch.yaml
  backend/src/api/dependencies/feedback_deps.py
  backend/src/api/feedback.py
  backend/src/core/config.py
  backend/src/services/oss_service.py
  backend/tests/test_oss_service.py
  docs/features/feedback-image-attachments.md
Due: check-file-length, kube-linter, kubeconform

feat(market): add delayed intraday data and GLOBAL_QUOTE endpoint
  backend/src/api/market_data.py
  backend/src/services/alphavantage_market_data.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/chat/ChartPanel.tsx
  frontend/src/services/market.ts
Due: check-file-length

chore: update version tooling and consolidate changelog
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/pyproject.toml
  docs/project/versions/backend/CHANGELOG.md
  scripts/bump-version.sh
Due: kube-linter, kubeconform

docs(deployment): refactor CLAUDE.md to focus on rules, move K8s details to workflow.md
  CLAUDE.md
  docs/deployment/workflow.md
Due: none

test: add comprehensive unit tests for backend and frontend
  backend/src/api/chat.py
  backend/tests/test_alphavantage_market_data_service.py
  backend/tests/test_auth_service.py
  backend/tests/test_macro_analyzer.py
  frontend/src/services/__tests__/authService.test.ts
  frontend/src/utils/__tests__/dateRangeCalculator.test.ts
Due: check-file-length

test: fix alphavantage test assertions
  backend/tests/test_alphavantage_market_data_service.py
Due: none

test: add portfolio_order_repository tests
  backend/tests/test_portfolio_order_repository.py
Due: none

test: add comprehensive user_repository tests (28 tests, 92% coverage)
  backend/tests/test_user_repository.py
Due: none

test: add comprehensive chat_repository tests (20 tests, 97% coverage)
  backend/tests/test_chat_repository.py
Due: none

test: add comprehensive holding_repository tests (22 tests, 95%+ coverage)
  backend/tests/test_holding_repository.py
Due: none

test: add comprehensive password service tests (19 tests, 100% coverage)
  backend/tests/test_password_service.py
Due: none

test(utils): add comprehensive tests for token_utils and cache_utils
  backend/tests/test_cache_utils.py
  backend/tests/test_token_utils.py
Due: none

test(services): add comprehensive tests for token_service
  backend/tests/test_token_service.py
Due: none

Path conditions:
  check-file-length: any of: \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$
  kube-linter: any of: ^\.pipeline/k8s/.*\.yaml$
  kubeconform: any of: ^\.pipeline/k8s/.*\.yaml$
