Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

.pre-commit-config.yaml:

# Pre-commit hooks configuration for Financial Agent
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Version validation - enforce version increment
  - repo: local
    hooks:
      - id: validate-version
        name: Validate Version Increment
        entry: ./scripts/validate-version.sh
        language: system
        pass_filenames: false
        stages: [pre-commit]

      - id: check-file-length
        name: Check for oversized files (500 line limit)
        entry: ./scripts/check-file-length.sh
        language: system
        types_or: [python, javascript, jsx, ts, tsx]
        exclude: '(__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$'

  # Python code quality
  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        files: ^backend/
        language_version: python3.12

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.0
    hooks:
      - id: ruff
        files: ^backend/
        args: [--fix]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        files: ^backend/src/
        additional_dependencies:
          - types-redis
          - pydantic

  # Radon complexity - optional (install: pip install radon)
  # - repo: local
  #   hooks:
  #     - id: radon
  #       name: Check code complexity (Radon)
  #       entry: radon cc --min C -a -s
  #       language: system
  #       files: ^backend/.*\.py$
  #       pass_filenames: false

  # Frontend code quality
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: ^frontend/
        types_or: [javascript, jsx, ts, tsx, json, css]

  # General checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in k8s yaml
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: detect-private-key

  # Security Scanning
  - repo: https://github.com/PyCQA/bandit
    rev: 1.8.6
    hooks:
      - id: bandit
        files: ^backend/src/
        exclude: ^backend/(tests|scripts)/
        args: ["-c", "backend/pyproject.toml", "-ll"]
        additional_dependencies: ["bandit[toml]"]

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # Kubernetes Linting (run via Docker on built manifests)
  - repo: local
    hooks:
      - id: kube-linter
        name: Kubernetes Linter (kube-linter)
        entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
        language: system
        files: ^\.pipeline/k8s/.*\.yaml$
        pass_filenames: false

      - id: kubeconform
        name: Kubernetes Validator (kubeconform)
        entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
        language: system
        files: ^\.pipeline/k8s/.*\.yaml$
        pass_filenames: false

  # Dockerfile linting
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker
        files: Dockerfile

fix(ci): add npm rebuild for platform-specific deps
  .github/workflows/pr-checks.yml
Due: none

fix(ci): use npm install for platform-specific optional deps
  .github/workflows/pr-checks.yml
Due: none

fix(ci): delete package-lock.json to fix cross-platform rollup issue
  .github/workflows/pr-checks.yml
Due: none

fix(lint): fix import sorting in Alpaca services
  backend/src/services/alpaca/base.py
  backend/src/services/alpaca/orders.py
  backend/src/services/alpaca/positions.py
Due: check-file-length

fix(lint): format watchlist service files with Black
  backend/src/services/watchlist/analysis.py
  backend/src/services/watchlist/context_handler.py
Due: check-file-length

fix(ci): pin Black version to 24.8.0 for consistent formatting
  backend/pyproject.toml
Due: none

fix(lint): fix frontend lint errors and allow warnings in CI
  .github/workflows/pr-checks.yml
  frontend/src/components/chart/useChart.ts
  frontend/src/components/chart/useChartData.ts
Due: check-file-length

fix(ci): make frontend lint non-blocking (pre-existing errors)
  .github/workflows/pr-checks.yml
Due: none

fix(deploy): use kustomize build instead of kubectl apply -k for --load-restrictor flag
  .github/workflows/deploy.yml
Due: none

chore: trigger CI/CD deploy test
  backend/src/main.py
Due: check-file-length

docs: update deployment documentation for GitHub Actions CI/CD
  CLAUDE.md
  docs/deployment/workflow.md
Due: none

delete deprecated harshjudge
  .harshJudge/.dashboard-state.json
  .harshJudge/.gitignore
  .harshJudge/config.yaml
  .harshJudge/scenarios/analysis-type-filter/meta.yaml
  .harshJudge/scenarios/analysis-type-filter/runs/n6TtdcgMZm/evidence/step-01-Portfolio Dashboard with Analysis History sidebar.meta.json
  .harshJudge/scenarios/analysis-type-filter/runs/n6TtdcgMZm/evidence/step-02-Filter dropdown exists with All Types selected.meta.json
  .harshJudge/scenarios/analysis-type-filter/runs/n6TtdcgMZm/evidence/step-03-Individual Analysis filter showing only symbol analyses.meta.json
  .harshJudge/scenarios/analysis-type-filter/runs/n6TtdcgMZm/evidence/step-04-Portfolio Decisions filter showing only portfolio-level decisions.meta.json
  .harshJudge/scenarios/analysis-type-filter/runs/n6TtdcgMZm/evidence/step-05-All Types filter reset - all 11 chats displayed.meta.json
  .harshJudge/scenarios/analysis-type-filter/runs/n6TtdcgMZm/result.json
  .harshJudge/scenarios/analysis-type-filter/scenario.md
  .harshJudge/scenarios/message-sort-toggle-ux/meta.yaml
  .harshJudge/scenarios/message-sort-toggle-ux/runs/IDLacsxBHw/evidence/step-01-Portfolio Dashboard with sort toggle visible - 最新在前 (blue/active).meta.json
  .harshJudge/scenarios/message-sort-toggle-ux/runs/IDLacsxBHw/evidence/step-01-Portfolio Dashboard with sort toggle visible - 最新在前 (blue/active).png
  .harshJudge/scenarios/message-sort-toggle-ux/runs/IDLacsxBHw/evidence/step-02-Chat modal open with messages sorted newest first (ID: 20251214 first).meta.json
  .harshJudge/scenarios/message-sort-toggle-ux/runs/IDLacsxBHw/evidence/step-03-Toggle back to newest first - 最新在前 highlighted blue again.meta.json
  .harshJudge/scenarios/message-sort-toggle-ux/runs/IDLacsxBHw/result.json
  .harshJudge/scenarios/message-sort-toggle-ux/scenario.md
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/meta.yaml
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/evidence/step-01-Platform page with Agent mode selected.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/evidence/step-02-Question sent and tool invocations visible.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/evidence/step-03-Tool invocation completed - Get Stock Quote and News Sentiment.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/evidence/step-04-LLM Response analysis - verified relevance.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/evidence/step-04-LLM Response analysis - verified relevance.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/evidence/step-05-Response quality verification.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/evidence/step-05-Response quality verification.meta.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/runs/q5MzKSfiqN/result.json
  .harshJudge/scenarios/platform-agent-chat-tool-invocation/scenario.md
  .harshJudge/scenarios/portfolio-agent-analysis-flow/meta.yaml
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/NcwaQvZRn_/evidence/step-01-Portfolio Dashboard loaded with holdings and analysis history.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/NcwaQvZRn_/evidence/step-03-Individual AAPL Analysis with technical and fundamental data.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/NcwaQvZRn_/evidence/step-04-Portfolio Decisions modal with trading decisions table.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/NcwaQvZRn_/evidence/step-05-Recent transactions showing orders matching portfolio decisions.meta.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/runs/NcwaQvZRn_/result.json
  .harshJudge/scenarios/portfolio-agent-analysis-flow/scenario.md
Due: none

feat(insights): add Market Insights Platform with AI Sector Risk
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/tools/__init__.py
  backend/src/agent/tools/insights_tools.py
  backend/src/api/insights/__init__.py
  backend/src/api/insights/endpoints.py
  backend/src/api/schemas/insights_models.py
  backend/src/main.py
  backend/src/services/insights/__init__.py
  backend/src/services/insights/base.py
  backend/src/services/insights/categories/__init__.py
  backend/src/services/insights/categories/ai_sector_risk.py
  backend/src/services/insights/models.py
  backend/src/services/insights/registry.py
  backend/src/services/market_data/fundamentals.py
  backend/src/services/market_data/macro.py
  docs/README.md
  docs/epics/market-insights-platform.md
  docs/epics/meitou-ai-risk-model.md
  docs/prd.md
  frontend/public/locales/en/common.json
  frontend/public/locales/en/insights.json
  frontend/public/locales/zh-CN/common.json
  frontend/public/locales/zh-CN/insights.json
  frontend/src/App.tsx
  frontend/src/components/insights/CompositeScoreCard.tsx
  frontend/src/components/insights/ExplanationPanel.tsx
  frontend/src/components/insights/MetricCard.tsx
  frontend/src/components/insights/ScoreGauge.tsx
  frontend/src/components/insights/StatusBadge.tsx
  frontend/src/components/insights/index.ts
  frontend/src/hooks/useInsights.ts
  frontend/src/i18n.ts
  frontend/src/pages/InsightsPage.tsx
  frontend/src/services/insightsApi.ts
  frontend/src/types/insights.ts
Due: check-file-length

test(insights): add unit tests for AI Sector Risk metrics
  backend/tests/test_ai_sector_risk_logic.py
  backend/tests/test_insights_api.py
  backend/tests/test_insights_service.py
  backend/tests/test_insights_tools.py
Due: none

chore: add HarshJudge E2E test scenarios for Market Insights
  .gitignore
  .harshJudge/.gitignore
  .harshJudge/config.yaml
  .harshJudge/prd.md
  .harshJudge/scenarios/market-insights-e2e/meta.yaml
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/result.json
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-01/evidence/Insights page loaded.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-02/evidence/Category list with AI Sector Risk.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-03/evidence/Category detail with composite score.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-04/evidence/Composite score 56/100 Elevated.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-04/evidence/Composite score 56/100 Elevated.png
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-05/evidence/Metric card expanded with explanation.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-06/evidence/Refresh completed successfully.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/BPA5RjupK0/step-07/evidence/Back to categories list.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/result.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-01/evidence/Insights Page Navigation.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-02/evidence/Category List Verification.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-02/evidence/Category List Verification.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-03/evidence/Category Detail View.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-04/evidence/Composite Score Verification.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-04/evidence/Composite Score Verification.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-05/evidence/Expanded Metric Card.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-06/evidence/After Refresh.meta.json
  .harshJudge/scenarios/market-insights-e2e/runs/pa-WcdToIR/step-07/evidence/Back to Category List.meta.json
  .harshJudge/scenarios/market-insights-e2e/steps/01-login-and-navigate-to-insights.md
  .harshJudge/scenarios/market-insights-e2e/steps/02-verify-category-list.md
  .harshJudge/scenarios/market-insights-e2e/steps/03-open-category-detail-view.md
  .harshJudge/scenarios/market-insights-e2e/steps/04-verify-composite-score-display.md
  .harshJudge/scenarios/market-insights-e2e/steps/05-expand-metric-card.md
  .harshJudge/scenarios/market-insights-e2e/steps/06-test-refresh-functionality.md
  .harshJudge/scenarios/market-insights-e2e/steps/07-navigate-back-to-category-list.md
Due: none

fix(ci): use context-aware sed to update correct image tag
  .github/workflows/deploy.yml
Due: none

fix: resolve Dockerfile warnings and datetime deprecations
  backend/Dockerfile
  backend/scripts/create_portfolio_agent_user.py
  backend/src/agent/callbacks/tool_execution_callback.py
  backend/src/agent/optimizer/executor.py
  backend/src/agent/portfolio/agent.py
  backend/src/agent/portfolio/phase1_research.py
  backend/src/agent/portfolio/phase2_decisions.py
  backend/src/api/admin.py
  backend/src/api/portfolio/history.py
  backend/src/api/portfolio/holdings.py
  backend/src/core/utils/__init__.py
  backend/src/core/utils/date_utils.py
  backend/src/database/repositories/chat_repository.py
  backend/src/database/repositories/comment_repository.py
  backend/src/database/repositories/feedback_repository.py
  backend/src/database/repositories/holding_repository.py
  backend/src/database/repositories/message_repository.py
  backend/src/database/repositories/portfolio_order_repository.py
  backend/src/database/repositories/refresh_token_repository.py
  backend/src/database/repositories/user_repository.py
  backend/src/database/repositories/watchlist_repository.py
  backend/src/models/refresh_token.py
  backend/src/services/alpaca/helpers.py
  backend/src/services/auth_service.py
  backend/src/services/context_window_manager.py
  backend/src/services/feedback_export_service.py
  backend/src/services/oss_service.py
  backend/src/services/token_service.py
  backend/src/services/tool_cache_wrapper.py
  backend/src/services/watchlist/analysis.py
  backend/tests/test_auth_service.py
  backend/tests/test_feedback_images.py
  backend/tests/test_token_service.py
  frontend/Dockerfile
Due: check-file-length

feat(insights): enable Redis caching for AI Sector Risk agent tools
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/api/admin.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/main.py
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length

fix(ci): use DaemonSet for image pre-pull to cache on all nodes
  .github/workflows/deploy.yml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  docs/troubleshooting/slow-acr-to-ack-image-pull.md
Due: kube-linter, kubeconform

refactor(backend): standardize datetime utilities and imports
  backend/src/agent/callbacks/tool_execution_callback.py
  backend/src/agent/optimizer/executor.py
  backend/src/agent/portfolio/agent.py
  backend/src/agent/portfolio/phase1_research.py
  backend/src/agent/portfolio/phase2_decisions.py
  backend/src/api/analysis/fibonacci.py
  backend/src/api/analysis/fundamentals/company.py
  backend/src/api/analysis/fundamentals/financials.py
  backend/src/api/analysis/macro.py
  backend/src/api/analysis/news.py
  backend/src/api/analysis/technical.py
  backend/src/api/portfolio/history.py
  backend/src/api/portfolio/holdings.py
  backend/src/api/watchlist.py
  backend/src/core/utils/__init__.py
  backend/src/core/utils/date_utils.py
  backend/src/database/repositories/chat_repository.py
  backend/src/database/repositories/comment_repository.py
  backend/src/database/repositories/feedback_repository.py
  backend/src/database/repositories/holding_repository.py
  backend/src/database/repositories/message_repository.py
  backend/src/database/repositories/portfolio_order_repository.py
  backend/src/database/repositories/refresh_token_repository.py
  backend/src/database/repositories/user_repository.py
  backend/src/models/refresh_token.py
  backend/src/services/alpaca/helpers.py
  backend/src/services/auth_service.py
  backend/src/services/context_window_manager.py
  backend/src/services/feedback_export_service.py
  backend/src/services/insights/base.py
  backend/src/services/insights/categories/ai_sector_risk.py
  backend/src/services/market_data/fundamentals.py
  backend/src/services/oss_service.py
  backend/src/services/token_service.py
  backend/src/services/watchlist/analysis.py
Due: check-file-length

feat(backend): add performance monitoring infrastructure
  backend/src/api/admin.py
  backend/src/api/dependencies/timing_middleware.py
  backend/src/core/utils/circuit_breaker.py
  backend/src/database/redis.py
  backend/src/main.py
  backend/src/services/cache_warming_service.py
  backend/src/services/tool_cache_wrapper.py
  backend/tests/test_timing_middleware.py
Due: check-file-length

feat(backend): enhance LangGraph agent with latency tracking and retry optimization
  backend/src/agent/langgraph_react_agent.py
  backend/src/api/chat/streaming/helpers.py
  backend/src/api/chat/streaming/react_agent.py
  backend/src/core/config.py
  backend/src/database/repositories/tool_execution_repository.py
  backend/src/database/repositories/watchlist_repository.py
Due: check-file-length

docs: add performance optimization epic and baseline documentation
  CLAUDE.md
  docs/README.md
  docs/performance/README.md
  docs/performance/api-baseline.md
  docs/performance/frontend-baseline.md
  docs/performance/infrastructure-baseline.md
  docs/performance/llm-baseline.md
  docs/performance/redis-baseline.md
  docs/qa/gates/1.1-performance-audit.yaml
  docs/qa/gates/1.2-api-response-optimization.yaml
  docs/qa/gates/1.3-redis-caching-enhancement.yaml
  docs/qa/gates/1.4-llm-agent-performance-optimization.yml
  docs/stories/1.1.story.md
  docs/stories/1.2.story.md
  docs/stories/1.3.story.md
  docs/stories/1.4.story.md
  docs/stories/1.5.story.md
  docs/stories/1.6.story.md
  docs/stories/epic-1-performance-optimization.md
  docs/stories/sprint-change-proposal-ai-sector-risk-trends.md
Due: none

docs(insights): add Phase 2 trend visualization stories to epic
  docs/epics/market-insights-platform.md
Due: none

feat(backend): add Phase 2 trend visualization infrastructure
  .pipeline/k8s/base/cronjobs/insights-snapshot-trigger.yaml
  .pipeline/k8s/base/kustomization.yaml
  .pipeline/k8s/overlays/prod/cronjob-insights-trigger-patch.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  backend/src/agent/tools/insights_tools.py
  backend/src/api/insights/endpoints.py
  backend/src/api/schemas/insights_models.py
  backend/src/main.py
  backend/src/services/data_manager/__init__.py
  backend/src/services/data_manager/cache.py
  backend/src/services/data_manager/keys.py
  backend/src/services/data_manager/manager.py
  backend/src/services/data_manager/types.py
  backend/src/services/insights/__init__.py
  backend/src/services/insights/snapshot_service.py
Due: check-file-length, kube-linter, kubeconform

feat(frontend): add trend visualization components for Phase 2
  frontend/public/locales/en/insights.json
  frontend/public/locales/zh-CN/insights.json
  frontend/src/components/insights/CompositeScoreCard.tsx
  frontend/src/components/insights/ExpandedTrendChart.tsx
  frontend/src/components/insights/MetricCard.tsx
  frontend/src/components/insights/SwipeContainer.tsx
  frontend/src/components/insights/TrendSparkline.tsx
  frontend/src/components/insights/index.ts
  frontend/src/hooks/useInsights.ts
  frontend/src/pages/InsightsPage.tsx
  frontend/src/services/insightsApi.ts
  frontend/src/types/insights.ts
Due: check-file-length

test: add Phase 2 tests and fix datetime deprecations
  backend/tests/test_ai_sector_risk_logic.py
  backend/tests/test_alphavantage_market_data_service.py
  backend/tests/test_alphavantage_response_formatter.py
  backend/tests/test_api_models.py
  backend/tests/test_auth_service.py
  backend/tests/test_cache_utils.py
  backend/tests/test_chat_repository.py
  backend/tests/test_chat_symbol_context.py
  backend/tests/test_credit_service.py
  backend/tests/test_data_manager.py
  backend/tests/test_date_utils.py
  backend/tests/test_exceptions.py
  backend/tests/test_feedback_images.py
  backend/tests/test_fibonacci_config.py
  backend/tests/test_fibonacci_level_calculator.py
  backend/tests/test_fibonacci_trend_detection.py
  backend/tests/test_financial_analysis.py
  backend/tests/test_financial_calculations.py
  backend/tests/test_holding_repository.py
  backend/tests/test_insights_service.py
  backend/tests/test_insights_snapshot.py
  backend/tests/test_insights_tools.py
  backend/tests/test_insights_trend_api.py
  backend/tests/test_localization.py
  backend/tests/test_macro_analyzer.py
  backend/tests/test_portfolio_order_repository.py
  backend/tests/test_stochastic_analysis.py
  backend/tests/test_symbol_search.py
  backend/tests/test_timing_middleware.py
  backend/tests/test_token_service.py
  backend/tests/test_transaction_repository.py
  backend/tests/test_user_repository.py
  backend/tests/test_utils_and_config.py
  backend/tests/test_yfinance_integration.py
Due: none

docs(stories): add Phase 2 trend visualization story documentation
  docs/stories/2.1.story.md
  docs/stories/2.2.story.md
  docs/stories/2.3.story.md
  docs/stories/2.4.story.md
  docs/stories/2.5.story.md
Due: none

refactor(backend): fix datetime deprecations and improve code quality
  backend/scripts/cleanup_user_portfolio_chats.py
  backend/scripts/create_feedback_bucket.py
  backend/scripts/create_portfolio_agent_user.py
  backend/scripts/migrate_analysis_chats.py
  backend/scripts/topup_credits.py
  backend/scripts/verify_migration.py
  backend/src/agent/callbacks/tool_execution_callback.py
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/tools/alpha_vantage/quotes.py
  backend/src/api/admin.py
  backend/src/api/analysis/fundamentals/company.py
  backend/src/api/analysis/fundamentals/financials.py
  backend/src/api/chat/streaming/react_agent.py
  backend/src/api/chat/streaming/simple_agent.py
  backend/src/core/analysis/macro_analyzer.py
  backend/src/core/analysis/stock_analyzer.py
  backend/src/core/utils/circuit_breaker.py
  backend/src/core/utils/token_utils.py
  backend/src/database/repositories/watchlist_repository.py
  backend/src/services/cache_warming_service.py
  backend/src/services/formatters/market.py
  backend/src/services/market_data/__init__.py
  backend/src/shared/formatters.py
  backend/src/workers/reconcile_transactions.py
Due: check-file-length

docs: update documentation for Phase 2 Market Insights deployment
  .pipeline/k8s/overlays/prod/cronjob-portfolio-trigger-patch.yaml
  CLAUDE.md
  docs/README.md
  docs/deployment/workflow.md
  docs/features/market-insights-trend-visualization.md
  docs/troubleshooting/README.md
Due: kube-linter, kubeconform

fix(insights): smart tooltip positioning in trend charts
  docs/project/versions/frontend/CHANGELOG.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/insights/CompositeScoreCard.tsx
  frontend/src/components/insights/ExpandedTrendChart.tsx
  frontend/src/components/insights/MetricCard.tsx
Due: check-file-length

chore(deploy): update frontend image to prod-v0.11.5
  .pipeline/k8s/overlays/prod/kustomization.yaml
Due: kube-linter, kubeconform

fix(market-data): apply split adjustment to all OHLC prices
  backend/pyproject.toml
  backend/src/services/market_data/bars_basic.py
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length

docs: add stock split OHLC adjustment troubleshooting guide
  docs/troubleshooting/README.md
  docs/troubleshooting/data-validation-issues.md
Due: none

feat(insights): add Put/Call Ratio and Market Liquidity metrics (Stories 2.6 & 2.7)
  .harshJudge/scenarios/story-2-4-frontend-sparklines/meta.yaml
  .harshJudge/scenarios/story-2-4-frontend-sparklines/runs/ndNmYDOrk9/result.json
  .harshJudge/scenarios/story-2-4-frontend-sparklines/runs/ndNmYDOrk9/step-01/evidence/insights-page-ai-sector-risk.meta.json
  .pipeline/k8s/base/cronjobs/insights-snapshot-trigger.yaml
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/api/chat/streaming/react_agent.py
  backend/src/api/insights/endpoints.py
  backend/src/core/config.py
  backend/src/main.py
  backend/src/services/data_manager/__init__.py
  backend/src/services/data_manager/keys.py
  backend/src/services/data_manager/manager.py
  backend/src/services/data_manager/types.py
  backend/src/services/insights/base.py
  backend/src/services/insights/categories/ai_sector_risk.py
  backend/src/services/insights/registry.py
  backend/src/services/insights/snapshot_service.py
  backend/src/services/market_data/__init__.py
  backend/src/services/market_data/fred.py
  backend/src/services/market_data/options.py
  backend/tests/test_ai_sector_risk_logic.py
  backend/tests/test_auth_service.py
  backend/tests/test_data_manager.py
  backend/tests/test_feedback_images.py
  backend/tests/test_financial_calculations.py
  backend/tests/test_fred_service.py
  backend/tests/test_insights_api.py
  backend/tests/test_insights_service.py
  backend/tests/test_insights_tools.py
  backend/tests/test_insights_trend_api.py
  backend/tests/test_stochastic_api.py
  backend/tests/test_token_service.py
  docs/epics/market-insights-platform.md
  docs/features/market-insights-trend-visualization.md
  docs/project/versions/backend/CHANGELOG.md
  docs/stories/2.6.story.md
  docs/stories/2.7.story.md
Due: check-file-length, kube-linter, kubeconform

docs: update documentation for v0.9.0 release
  CLAUDE.md
  docs/archive/troubleshooting-history/fixed-bugs.md
  docs/epics/market-insights-platform.md
  docs/features/market-insights-trend-visualization.md
  docs/stories/2.7.story.md
Due: none
