Repository HuskyDanny/FinancialAgent: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-file-length, kube-linter, kubeconform

check-file-length:
  name: Check for oversized files (500 line limit)
  entry: ./scripts/check-file-length.sh
  language: system

kube-linter:
  name: Kubernetes Linter (kube-linter)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" stackrox/kube-linter:latest lint /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

kubeconform:
  name: Kubernetes Validator (kubeconform)
  entry: bash -c 'kubectl kustomize .pipeline/k8s/base > /tmp/k8s-manifests.yaml && docker run --rm -v "/tmp:/tmp" ghcr.io/yannh/kubeconform:latest -strict -summary -skip ClusterIssuer /tmp/k8s-manifests.yaml'
  language: system
  pass_filenames: false

chore(deploy): update backend image to prod-v0.9.0
  .pipeline/k8s/overlays/prod/kustomization.yaml
Due: kube-linter, kubeconform

feat(agent): add reusable PCR tool with Redis caching (Story 2.8)
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/meta.yaml
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/result.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-01/evidence/health-check-response.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-01/evidence/health-check-response.meta.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-02/evidence/redis-cache-cleared.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-02/evidence/redis-cache-cleared.meta.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-03/evidence/Backend Cache Logs.meta.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-03/evidence/Backend Cache Logs.txt
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-03/evidence/PCR Tool Invocation Response.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-03/evidence/PCR Tool Invocation Response.meta.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-04/evidence/Redis Cache Verification.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-04/evidence/Redis Cache Verification.meta.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-05/evidence/Cache Hit Performance.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-05/evidence/Cache Hit Performance.meta.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-06/evidence/Multi-Symbol PCR Verification.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/runs/ILC2Fhh8r3/step-06/evidence/Multi-Symbol PCR Verification.meta.json
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/steps/01-verify-backend-health-and-redis-connection.md
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/steps/02-clear-pcr-cache-and-verify-cache-miss.md
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/steps/03-invoke-pcr-tool-via-chat-api-first-call-cache-miss.md
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/steps/04-verify-redis-cache-populated-after-first-call.md
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/steps/05-invoke-pcr-tool-again-verify-cache-hit.md
  .harshJudge/scenarios/story-2-8-pcr-tool-cache/steps/06-verify-pcr-logic-with-different-symbols.md
  .pipeline/k8s/overlays/prod/backend-prod-patch.yaml
  .pipeline/k8s/overlays/prod/kustomization.yaml
  .pipeline/k8s/overlays/prod/secrets.yaml
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/tools/__init__.py
  backend/src/agent/tools/pcr_tools.py
  backend/src/services/data_manager/__init__.py
  backend/src/services/data_manager/keys.py
  backend/src/services/data_manager/manager.py
  backend/src/services/data_manager/types.py
  backend/src/services/insights/categories/ai_sector_risk.py
  backend/tests/test_data_manager.py
  backend/tests/test_pcr_tools.py
  docs/project/versions/backend/CHANGELOG.md
  docs/stories/2.7.story.md
  docs/stories/2.8.story.md
Due: check-file-length, kube-linter, kubeconform

docs(epic): mark Market Insights Platform (Epic 2) as complete
  docs/epics/market-insights-platform.md
  docs/stories/2.6.story.md
Due: none

feat(platform): implement Stories 3.2 & 3.4 - auth fix and chat titles
  backend/src/agent/llm_client.py
  backend/src/agent/tools/alpha_vantage/fundamentals.py
  backend/src/api/chat/streaming/react_agent.py
  backend/src/core/config.py
  backend/src/core/utils/title_utils.py
  backend/src/services/auth_service.py
  backend/src/services/chat_service.py
  backend/src/services/formatters/__init__.py
  backend/src/services/formatters/fundamentals.py
  backend/tests/test_alphavantage_response_formatter.py
  backend/tests/test_auth_service.py
  backend/tests/test_title_generation.py
  docs/audits/alpha-vantage-tools-audit.md
  docs/epics/platform-quality-ux-polish.md
  docs/stories/3.1.story.md
  docs/stories/3.2.story.md
  docs/stories/3.3.story.md
  docs/stories/3.4.story.md
Due: check-file-length

fix(agent): add historical prices tool to prevent date/price hallucination
  backend/pyproject.toml
  backend/src/agent/callbacks/tool_execution_callback.py
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/llm_client.py
  backend/src/core/localization.py
  docs/project/versions/backend/CHANGELOG.md
Due: check-file-length

fix(auth): improve token security and consolidate refresh logic (Story 3.2)
  backend/src/api/auth.py
  backend/src/models/refresh_token.py
  docs/stories/3.2.story.md
  frontend/src/services/api.ts
  frontend/src/services/authService.ts
  frontend/src/services/tokenRefresh.ts
Due: check-file-length

chore: apply Black formatting and add .harshJudge to gitignore
  .gitignore
  backend/src/agent/tools/pcr_tools.py
  backend/src/core/config.py
  backend/src/services/formatters/fundamentals.py
Due: check-file-length

refactor(agent): improve Fibonacci tool output with golden zone focus
  backend/src/agent/langgraph_react_agent.py
Due: check-file-length

test(backend): add comprehensive unit tests to improve coverage to 57%
  backend/src/agent/callbacks/tool_execution_callback.py
  backend/src/api/analysis/fundamentals/company.py
  backend/src/core/analysis/stock_analyzer.py
  backend/src/database/repositories/watchlist_repository.py
  backend/tests/test_admin_api.py
  backend/tests/test_alpaca_helpers.py
  backend/tests/test_alpaca_orders.py
  backend/tests/test_api_auth.py
  backend/tests/test_auth_dependencies.py
  backend/tests/test_chat_service.py
  backend/tests/test_circuit_breaker.py
  backend/tests/test_context_window_manager.py
  backend/tests/test_credits_api.py
  backend/tests/test_data_manager_types.py
  backend/tests/test_database_stats_service.py
  backend/tests/test_email_provider.py
  backend/tests/test_feedback_service.py
  backend/tests/test_formatters.py
  backend/tests/test_formatters_market.py
  backend/tests/test_formatters_technical.py
  backend/tests/test_health_api.py
  backend/tests/test_insights_base.py
  backend/tests/test_insights_models.py
  backend/tests/test_insights_registry.py
  backend/tests/test_insights_snapshot.py
  backend/tests/test_kubernetes_metrics_service.py
  backend/tests/test_market_data_bars_basic.py
  backend/tests/test_market_data_quotes.py
  backend/tests/test_market_status_api.py
  backend/tests/test_oss_service.py
  backend/tests/test_portfolio_service.py
  backend/tests/test_reconcile_transactions.py
  backend/tests/test_refresh_token_repository.py
  backend/tests/test_sanitizers.py
  backend/tests/test_title_utils.py
  backend/tests/test_token_service.py
  backend/tests/test_tool_cache_wrapper.py
  backend/tests/test_watchlist_analyzer.py
  backend/tests/test_watchlist_chat_manager.py
Due: check-file-length

docs: update README with current project status
  README.md
Due: none

fix(agent): inject current date into system prompt for relative time queries
  backend/pyproject.toml
  backend/src/agent/langgraph_react_agent.py
  backend/src/agent/llm_client.py
  backend/src/api/analysis/fibonacci.py
  backend/src/api/analysis/shared.py
  backend/src/api/analysis/technical.py
  backend/src/api/dependencies/chat_deps.py
  backend/src/core/analysis/fibonacci/analyzer.py
  backend/src/core/analysis/stochastic_analyzer.py
  backend/src/main.py
  backend/src/services/watchlist/analysis.py
  backend/src/services/watchlist/analyzer.py
Due: check-file-length

fix(agent): use dynamic system prompt to prevent stale date context
  backend/src/agent/langgraph_react_agent.py
Due: check-file-length

fix(deep-agent): propagate sub-agent token usage for accurate credit deduction
  backend/src/agent/deep_react_agent.py
  backend/src/agent/subagent_invoker.py
  backend/src/api/chat/streaming/deep_agent.py
Due: check-file-length

feat(chat): add infinite scroll and deep agent accordion persistence
  backend/src/api/chat/streaming/deep_agent.py
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/components/chat/ChatMessages.tsx
  frontend/src/hooks/useChatRestoration.ts
  frontend/src/types/api.ts
Due: check-file-length

chore: bump frontend to v0.11.6 and backend to v0.10.3
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
Due: none

fix(lint): resolve pre-existing ruff and black errors for CI
  backend/pyproject.toml
  backend/src/agent/deep_agent_adapter.py
  backend/src/agent/deep_react_agent.py
  backend/src/agent/experiments/test_deepagent_qwen.py
  backend/src/agent/subagent_invoker.py
  backend/src/agent/subagents/debater.py
  backend/src/agent/subagents/financial.py
  backend/src/agent/subagents/news.py
  backend/src/agent/subagents/technical.py
  backend/src/models/portfolio.py
  backend/src/models/trading_decision.py
  backend/src/services/data_manager/types.py
  backend/src/services/formatters/fundamentals.py
  backend/src/services/insights/models.py
Due: check-file-length

fix(deep-agent): persist partial deep events on generic errors
  backend/src/api/chat/streaming/deep_agent.py
Due: check-file-length

refactor(chat): address PR review — DRY extraction, hasDeepAction guard, emoji consistency
  frontend/src/components/EnhancedChatInterface.tsx
  frontend/src/hooks/useChatRestoration.ts
  frontend/src/utils/messageParser.ts
Due: check-file-length

docs: add explanatory comments for intentional design decisions
  backend/src/api/chat/streaming/deep_agent.py
  frontend/src/components/EnhancedChatInterface.tsx
Due: check-file-length

docs: add epic, stories, and plan for chat UX improvements
  docs/epics/deep-agent-ux-integration.md
  docs/plans/2026-02-20-chat-ux-improvements-design.md
  docs/stories/5.1.story.md
  docs/stories/5.2.story.md
  docs/stories/5.3.story.md
  docs/stories/5.4.story.md
  docs/stories/5.5.story.md
Due: none

chore: gitignore docs/recovery/ to prevent credential leaks
  .gitignore
  docs/recovery/ack-cluster-recovery-2026-01-29.md
Due: none

docs: add deep agent tool caching design and analysis scripts
  backend/scripts/analyze_deep_run.py
  backend/scripts/check_db.py
  docs/plans/2026-02-22-deep-agent-tool-caching-design.md
Due: check-file-length

feat(deep-agent): implement AnalysisToolCache with stats
  backend/src/agent/tools/analysis_cache.py
Due: check-file-length

docs: add implementation plan for deep agent tool caching
  docs/plans/2026-02-22-deep-agent-tool-caching-plan.md
Due: none

fix(deep-agent): use StructuredTool for LangGraph ToolNode compatibility
  backend/src/agent/tools/analysis_cache.py
  backend/tests/test_analysis_cache.py
Due: check-file-length

test(deep-agent): add failing tests for AnalysisToolCache
  backend/src/agent/tools/analysis_cache.py
  backend/tests/test_analysis_cache.py
Due: check-file-length

fix(deep-agent): init _analysis_cache in __init__, log stats in finally block
  backend/src/agent/deep_react_agent.py
Due: check-file-length

chore: bump backend to v0.10.3, fix lint warnings
  backend/tests/test_analysis_cache.py
Due: none

feat(deep-agent): create AnalysisToolCache per analysis run
  backend/src/agent/deep_react_agent.py
Due: check-file-length

feat(deep-agent): accept optional cache param in sub-agent factories
  backend/src/agent/subagents/debater.py
  backend/src/agent/subagents/financial.py
  backend/src/agent/subagents/news.py
  backend/src/agent/subagents/technical.py
Due: check-file-length

fix(deep-agent): address Copilot review — sync tool safety, eliminate concurrency risk
  backend/src/agent/deep_react_agent.py
  backend/src/agent/tools/analysis_cache.py
Due: check-file-length

test(deep-agent): strengthen error-not-cached test with second call
  backend/tests/test_analysis_cache.py
Due: none

docs(deep-agent): add debate quality improvement design
  docs/plans/2026-02-23-debate-quality-improvement-design.md
Due: none

docs(deep-agent): add debate quality improvement implementation plan
  docs/plans/2026-02-23-debate-quality-improvement-plan.md
Due: none

feat(deep-agent): add yfinance and exa tools for independent debater verification
  backend/pyproject.toml
  backend/src/agent/tools/exa_tools.py
  backend/src/agent/tools/yfinance_tools.py
  backend/tests/test_exa_tools.py
  backend/tests/test_yfinance_tools.py
Due: check-file-length

feat(deep-agent): categorize independent debater tools, add display names
  backend/src/agent/tools/__init__.py
  backend/src/agent/tools/categorization.py
  backend/src/api/schemas/deep_agent_events.py
Due: check-file-length

feat(deep-agent): rewrite debater with independent tools (yfinance + exa)
  backend/src/agent/subagents/debater.py
  backend/tests/test_debater_subagent.py
Due: check-file-length

feat(deep-agent): update debater skills for independent tools
  backend/src/agent/skills/debater/assumption-testing/SKILL.md
  backend/src/agent/skills/debater/counter-evidence/SKILL.md
  backend/src/agent/skills/debater/fact-checking/SKILL.md
  backend/src/agent/skills/debater/risk-assessment/SKILL.md
Due: none

feat(deep-agent): add structured debate types and fact merging
  backend/src/agent/debate_types.py
  backend/tests/test_debate_types.py
Due: check-file-length

feat(deep-agent): extend event schemas for structured debate data
  backend/src/api/schemas/deep_agent_events.py
Due: check-file-length

Path conditions:
  check-file-length: any of: \.py$, \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, but not: (__init__\.py|test_.*\.py|.*\.test\.ts|.*\.test\.tsx)$
  kube-linter: any of: ^\.pipeline/k8s/.*\.yaml$
  kubeconform: any of: ^\.pipeline/k8s/.*\.yaml$
